@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.whiteback {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: 0.5;
  position: fixed;
  z-index: 1;
  display: none;
}

#bar {
  display: flex;
}
#bar i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  background-color: #6E786D;
  cursor: pointer;
  position: fixed;
  top: 11px;
  left: 12px;
  z-index: 14;
  display: none;
  transition: 1s ease;
}
#bar .bar-menu {
  width: 260px;
  height: 350px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Zen Maru Gothic", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #F6DEC3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6E786D;
  border-radius: 10px;
  z-index: 1;
  display: none;
}
#bar .bar-menu a {
  text-decoration: none;
  color: #F6DEC3;
}

.active {
  display: flex !important;
  transition: 1s ease;
}

.ovhd {
  overflow: hidden;
  z-index: 99;
}

nav {
  width: 100%;
  height: 55px;
  background-color: #6E786D;
  display: flex;
  justify-content: center;
  font-family: "Zen Maru Gothic", sans-serif;
  position: fixed;
  opacity: 1;
  transition: 1s;
  z-index: 6;
  box-shadow: 0px 0.5px 3px 0px #565454;
}
nav .bar-L {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 30px;
  margin-right: 40px;
}
nav .bar-logo {
  position: relative;
  width: 110px;
  height: 110px;
  padding-top: 15px;
}
nav .bar-logo .logo-back {
  width: 125px;
  height: 125px;
  background-color: #6E786D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1.5px 2px 0px #565454;
}
nav .bar-logo .logo-back a {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .bar-logo .logo-back a img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  height: 35px;
  border-radius: 20px;
  text-align: center;
  padding: 0 10px;
}
nav .bar-R {
  height: 100%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}

nav .bar-hover:hover {
  color: #424242;
  height: 35px;
  border-radius: 20px;
  background-color: #F6DEC3;
  text-align: center;
  line-height: 32px;
  padding: 0 10px;
}

nav:hover {
  opacity: 1;
}

.block {
  opacity: 1;
  z-index: 8;
}

.tittle {
  padding-top: 200px;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tittle h1 {
  font-size: 40px;
  padding-bottom: 50px;
  font-family: "Zen Maru Gothic", sans-serif;
  color: #424242;
}
.tittle h3 {
  font-size: 20px;
  line-height: 35px;
  font-family: "Zen Maru Gothic", sans-serif;
  color: #424242;
}

.schematic-mobile {
  display: none;
}

.schematic {
  width: 100%;
  height: 1400px;
  position: relative;
  overflow: hidden;
}
.schematic .image {
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  position: absolute;
  filter: blur(2px);
  transition: all 0.5s;
}
.schematic .img1 {
  background-image: url(../Images/np-custom-ccd/cus1.jpg);
  width: 380px;
  height: 253px;
  top: 3%;
  right: 84%;
}
.schematic .img2 {
  background-image: url(../Images/np-custom-ccd/cus2.jpg);
  width: 477px;
  height: 362px;
  top: 9%;
  right: 53%;
}
.schematic .img3 {
  background-image: url(../Images/np-custom-ccd/cus3.jpg);
  width: 390px;
  height: 299px;
  top: 0%;
  right: 24%;
}
.schematic .img4 {
  background-image: url(../Images/np-custom-ccd/cus4.jpg);
  width: 380px;
  height: 292px;
  top: 7%;
  right: -2%;
}
.schematic .img5 {
  background-image: url(../Images/np-custom-ccd/cus5.jpg);
  width: 411px;
  height: 315px;
  top: 43%;
  right: 71%;
}
.schematic .img6 {
  background-image: url(../Images/np-custom-ccd/cus6.jpg);
  width: 371px;
  height: 284px;
  top: 42%;
  right: 40%;
}
.schematic .img7 {
  background-image: url(../Images/np-custom-ccd/cus7.jpg);
  width: 446px;
  height: 342px;
  top: 35%;
  right: 8%;
}
.schematic .img8 {
  background-image: url(../Images/np-custom-ccd/cus8.jpg);
  width: 278px;
  height: 185px;
  top: 73%;
  right: 85%;
}
.schematic .img9 {
  background-image: url(../Images/np-custom-ccd/cus9.jpg);
  width: 417px;
  height: 278px;
  top: 75%;
  right: 53%;
}
.schematic .img10 {
  background-image: url(../Images/np-custom-ccd/cus10.jpg);
  width: 308px;
  height: 205px;
  top: 70%;
  right: 29%;
}
.schematic .img11 {
  background-image: url(../Images/np-custom-ccd/cus11.jpg);
  width: 364px;
  height: 268px;
  top: 73%;
  right: 0%;
}
.schematic .image:hover {
  filter: blur(0);
  transform: scale(1.2, 1.2);
}

.venue {
  width: 100%;
  height: 962px;
  background-color: #F7DEC3;
  padding-top: 190px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.venue h1 {
  font-size: 50px;
  margin-bottom: 52px;
  padding-left: 14px;
}
.venue h3 {
  font-size: 20px;
  padding-left: 14px;
  line-height: 35px;
  font-family: "Zen Maru Gothic", sans-serif;
}
.venue .swiper {
  margin-top: 50px;
}

.callboss-pad {
  display: none;
}

.callboss {
  width: 100%;
  height: 962px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.callboss .formbox {
  width: 66%;
  height: 714px;
  background-color: #6E786D;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.callboss .formbox .title {
  padding-top: 60px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.callboss .formbox .title h3 {
  font-size: 24px;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.callboss .formbox .info-box {
  width: 80%;
  padding-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.callboss .formbox .info-box .name {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.callboss .formbox .info-box .name span {
  font-size: 16px;
  font-family: "Zen Maru Gothic", sans-serif;
  color: white;
  padding-left: 10px;
  margin-bottom: 10px;
}
.callboss .formbox .info-box .name input {
  height: 57px;
  border-radius: 20px;
  background-color: #6E786D;
  border: 1px solid white;
  font-size: 20px;
  color: #FFFFFF;
  font-family: "Zen Maru Gothic", sans-serif;
}
.callboss .formbox .info-box .phone {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.callboss .formbox .info-box .phone span {
  font-size: 16px;
  font-family: "Zen Maru Gothic", sans-serif;
  color: white;
  padding-left: 10px;
  margin-bottom: 10px;
}
.callboss .formbox .info-box .phone input {
  height: 57px;
  border-radius: 20px;
  background-color: #6E786D;
  border: 1px solid white;
  font-size: 20px;
  color: #FFFFFF;
  font-family: "Zen Maru Gothic", sans-serif;
}
.callboss .formbox .info-box .mail {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.callboss .formbox .info-box .mail span {
  font-size: 16px;
  font-family: "Zen Maru Gothic", sans-serif;
  color: white;
  padding-left: 10px;
  margin-bottom: 10px;
}
.callboss .formbox .info-box .mail input {
  height: 57px;
  border-radius: 20px;
  background-color: #6E786D;
  border: 1px solid white;
  font-size: 20px;
  color: #FFFFFF;
  font-family: "Zen Maru Gothic", sans-serif;
}
.callboss .formbox .message {
  width: 80%;
  height: 312px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.callboss .formbox .message span {
  font-size: 16px;
  font-family: "Zen Maru Gothic", sans-serif;
  color: white;
  padding-left: 10px;
  margin-bottom: 10px;
}
.callboss .formbox .message input {
  height: 292px;
  border-radius: 20px;
  background-color: #6E786D;
  border: 1px solid white;
}
.callboss .formbox .message textarea {
  height: 292px;
  border-radius: 20px;
  background-color: #6E786D;
  border: 1px solid white;
  padding: 0 10%;
  font-size: 20px;
  color: #FFFFFF;
  font-family: "Zen Maru Gothic", sans-serif;
}
.callboss .formbox .message #submit {
  width: 123px;
  height: 38px;
  background-color: #F7DEC3;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 3px 1px #504e4e;
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}
.callboss .formbox .message #submit span {
  font-size: 16px;
  line-height: 23px;
  color: #6e786d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.callboss .formbox .message #submit span p {
  transform: rotate(21.91deg);
}
.callboss .formbox .message #submit:hover {
  box-shadow: 1px 1px 5px 3px #634a4a;
}
.callboss .formbox .message #submit:active {
  box-shadow: 1px 1px 5px 3px #634a4a;
  background-color: #be6c6c;
}

footer {
  min-width: 100%;
  height: 80px;
  background-color: #6E786D;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 35px;
  font-family: "Zen Maru Gothic", sans-serif;
}
footer .logoTxt {
  width: 136px;
  height: 35px;
  margin-left: 30px;
}
footer .logoTxt img {
  width: 100%;
}
footer .maker {
  margin-right: 30px;
}

.swiper {
  width: 100%;
  height: 284px;
  margin-top: 101px;
}
.swiper .swiper-slide {
  border-radius: 20px;
  width: 387px;
  height: 284px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1600px) {
  .schematic {
    width: 100%;
    height: 1200px;
    position: relative;
    overflow: hidden;
  }
  .schematic .image {
    background-size: 110%;
    border-radius: 20px;
    transform: scale(0.8, 0.8);
  }
  .schematic .image:hover {
    filter: blur(0);
    transform: scale(1, 1);
  }
}
@media (max-width: 1200px) {
  nav a {
    font-size: 18px;
  }
  nav .bar-L {
    margin-right: 10px;
    gap: 10px;
    line-height: 35px;
  }
  nav .bar-logo .logo-back {
    width: 110px;
    height: 110px;
  }
  nav .bar-logo .logo-back a img {
    width: 90%;
    height: 90%;
  }
  nav .bar-R {
    margin-left: 10px;
    gap: 10px;
    line-height: 35px;
  }
  nav .bar-hover:hover {
    line-height: 35px;
  }
}
@media (max-width: 1200px) {
  .schematic {
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
  }
  .schematic .image {
    background-size: 110%;
    border-radius: 20px;
    transform: scale(0.6, 0.6);
  }
  .schematic .image:hover {
    filter: blur(0);
    transform: scale(0.8, 0.8);
  }
}
@media (max-width: 900px) {
  .schematic {
    width: 100%;
    height: 950px;
    position: relative;
    overflow: hidden;
  }
  .schematic .image {
    background-size: 110%;
    border-radius: 20px;
    transform: scale(0.5, 0.5);
  }
  .schematic .image:hover {
    filter: blur(0);
    transform: scale(0.7, 0.7);
  }
}
@media (max-width: 768px) {
  nav a {
    font-size: 15px;
    padding: 0 8px;
  }
  nav .bar-L {
    margin-right: 10px;
    gap: 10px;
    line-height: 38px;
  }
  nav .bar-logo {
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 89.72px;
    height: 89.72px;
  }
  nav .bar-logo .logo-back {
    width: 90px;
    height: 90px;
  }
  nav .bar-logo .logo-back img {
    width: 84.44px;
    height: 84.44px;
  }
  nav .bar-R {
    margin-left: 10px;
    gap: 10px;
    line-height: 38px;
  }
  nav .bar-hover:hover {
    height: 30px;
    padding: 0 8px;
    line-height: 30px;
  }
  .none {
    display: none;
  }
  .none-768 {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .tittle {
    padding-top: 100px;
  }
  .tittle h1 {
    display: none;
  }
  .tittle h3 {
    display: none;
  }
  .schematic {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
  }
  .schematic .image {
    background-size: 110%;
    border-radius: 20px;
    transform: scale(1, 1);
  }
  .schematic .img1 {
    width: 134px;
    height: 97px;
    top: 4%;
    right: 2%;
  }
  .schematic .img2 {
    width: 155px;
    height: 109px;
    top: 13%;
    right: 63%;
  }
  .schematic .img3 {
    width: 211px;
    height: 152px;
    top: 0%;
    right: 26%;
  }
  .schematic .img4 {
    width: 174px;
    height: 131px;
    top: 3%;
    right: 88%;
  }
  .schematic .img5 {
    width: 177px;
    height: 127px;
    top: 42%;
    right: 71%;
  }
  .schematic .img6 {
    width: 221px;
    height: 160px;
    top: 38%;
    right: 33%;
  }
  .schematic .img7 {
    width: 193px;
    height: 140px;
    top: 31%;
    right: -3%;
  }
  .schematic .img8 {
    width: 136px;
    height: 101px;
    top: 78%;
    right: 54%;
  }
  .schematic .img9 {
    width: 213px;
    height: 155px;
    top: 73%;
    right: 78%;
  }
  .schematic .img10 {
    width: 155px;
    height: 121px;
    top: 65%;
    right: -8%;
  }
  .schematic .img11 {
    width: 190px;
    height: 143px;
    top: 74%;
    right: 19%;
  }
  .schematic .image:hover {
    filter: blur(0);
    transform: scale(1.3, 1.3);
  }
  .venue {
    width: 100%;
    height: 515px;
    background-color: #F7DEC3;
    padding-top: 78px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .venue h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-left: 24px;
  }
  .venue h3 {
    font-size: 15px;
    padding-left: 24px;
    line-height: 28px;
    font-family: "Zen Maru Gothic", sans-serif;
  }
  .venue .swiper {
    margin-top: 0px;
    padding-top: 30px;
  }
  .venue .swiper .swiper-slide {
    height: 160px;
  }
  .callboss {
    display: none;
  }
  .callboss-pad {
    display: block;
    width: 100%;
    height: 499px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .callboss-pad .formbox {
    width: 575px;
    height: 346px;
    background-color: #6E786D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(2%, 0);
  }
  .callboss-pad .formbox #submit-pad {
    width: 100px;
    height: 27px;
    background-color: #F7DEC3;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 3px 1px #504e4e;
    transform: translate(0, 120%);
    cursor: pointer;
  }
  .callboss-pad .formbox #submit-pad span {
    font-size: 12px;
    line-height: 17.38px;
    color: #6e786d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .callboss-pad .formbox #submit-pad span p {
    transform: rotate(21.91deg);
  }
  .callboss-pad .formbox #submit-pad:hover {
    box-shadow: 1px 1px 5px 3px #634a4a;
  }
  .callboss-pad .formbox #submit-pad:active {
    box-shadow: 1px 1px 5px 3px #634a4a;
    background-color: #be6c6c;
  }
  .callboss-pad .title {
    padding-top: 30px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .callboss-pad .title h3 {
    font-size: 20px;
    line-height: 30px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    color: #ffffff;
  }
  .callboss-pad .input-box {
    display: flex;
    padding-top: 25px;
  }
  .callboss-pad .input-box .message {
    transform: translate(-5%, 0);
  }
  .callboss-pad .input-box .message input {
    width: 259px;
    height: 145px;
    border-radius: 15px;
    background-color: #6E786D;
    border: 1px solid white;
  }
  .callboss-pad .input-box .message textarea {
    width: 259px;
    height: 145px;
    border-radius: 15px;
    background-color: #6E786D;
    border: 1px solid white;
    color: #fff;
    padding: 10px;
  }
  .callboss-pad .input-box .message input::-moz-placeholder {
    color: #ffffff;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message input:-ms-input-placeholder {
    color: #ffffff;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message input::placeholder {
    color: #ffffff;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message textarea::-moz-placeholder {
    color: #ffffff;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message textarea:-ms-input-placeholder {
    color: #ffffff;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message textarea::placeholder {
    color: #ffffff;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box {
    display: flex;
    flex-direction: column;
  }
  .callboss-pad .input-box .info-box .name input {
    width: 180px;
    height: 35px;
    border-radius: 15px;
    background-color: #6E786D;
    border: 1px solid white;
    margin-bottom: 20px;
    padding-left: 11px;
    color: #FFFFFF;
  }
  .callboss-pad .input-box .info-box .name input::-moz-placeholder {
    color: #ffffff;
  }
  .callboss-pad .input-box .info-box .name input:-ms-input-placeholder {
    color: #ffffff;
  }
  .callboss-pad .input-box .info-box .name input::placeholder {
    color: #ffffff;
  }
  .callboss-pad .input-box .info-box .phone input {
    width: 180px;
    height: 35px;
    border-radius: 15px;
    background-color: #6E786D;
    border: 1px solid white;
    margin-bottom: 20px;
    padding-left: 11px;
    color: #FFFFFF;
  }
  .callboss-pad .input-box .info-box .phone input::-moz-placeholder {
    color: #ffffff;
  }
  .callboss-pad .input-box .info-box .phone input:-ms-input-placeholder {
    color: #ffffff;
  }
  .callboss-pad .input-box .info-box .phone input::placeholder {
    color: #ffffff;
  }
  .callboss-pad .input-box .info-box .mail input {
    width: 180px;
    height: 35px;
    border-radius: 15px;
    background-color: #6E786D;
    border: 1px solid white;
    padding-left: 11px;
    color: #FFFFFF;
  }
  .callboss-pad .input-box .info-box .mail input::-moz-placeholder {
    color: #ffffff;
  }
  .callboss-pad .input-box .info-box .mail input:-ms-input-placeholder {
    color: #ffffff;
  }
  .callboss-pad .input-box .info-box .mail input::placeholder {
    color: #ffffff;
  }
}
@media (max-width: 699px) {
  .tittle {
    padding-top: 200px;
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tittle h1 {
    display: block;
    font-size: 30px;
    padding-bottom: 50px;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #424242;
  }
  .tittle h3 {
    display: block;
    font-size: 16px;
    line-height: 28px;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #424242;
  }
  .schematic {
    display: none;
  }
  .schematic-mobile {
    display: block;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-end;
  }
  .schematic-mobile .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    width: 33%;
    height: 100%;
  }
  .schematic-mobile .img1 {
    background-image: url(../Images/np-custom-ccd/cus5.jpg);
  }
  .schematic-mobile .img2 {
    background-image: url(../Images/np-custom-ccd/cus2.jpg);
  }
  .schematic-mobile .img3 {
    background-image: url(../Images/np-custom-ccd/cus7.jpg);
  }
  .venue {
    display: none;
  }
  .callboss-pad {
    display: block;
    width: 100%;
    height: 600px;
    padding-top: 100px;
    display: flex;
    background-color: #F7DEC3;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .callboss-pad .formbox {
    width: 80%;
    height: 100%;
    background-color: #F7DEC3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(2%, 0);
  }
  .callboss-pad .formbox #submit-pad {
    background-color: #6E786D;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 3px 1px #504e4e;
    transform: translate(0, 120%);
  }
  .callboss-pad .formbox #submit-pad span {
    font-size: 12px;
    line-height: 17.38px;
    color: #FFFFFF;
  }
  .callboss-pad .formbox #submit-pad i {
    transform: rotate();
    color: #FFFFFF;
  }
  .callboss-pad .formbox #submit-pad:hover {
    box-shadow: 1px 1px 5px 3px #634a4a;
  }
  .callboss-pad .formbox #submit-pad:active {
    box-shadow: 1px 1px 5px 3px #634a4a;
    background-color: #be6c6c;
  }
  .callboss-pad .title {
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .callboss-pad .title h3 {
    font-size: 20px;
    line-height: 30px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    color: #424242;
  }
  .callboss-pad .input-box {
    width: 100%;
    display: flex;
    padding-top: 25px;
    flex-direction: column-reverse;
  }
  .callboss-pad .input-box .message {
    transform: translate(0, 0);
  }
  .callboss-pad .input-box .message input {
    width: 80%;
    height: 145px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
  }
  .callboss-pad .input-box .message textarea {
    width: 80%;
    height: 145px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    color: #6E786D;
    padding: 10px 0 0 0;
  }
  .callboss-pad .input-box .message input::-moz-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message input:-ms-input-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message input::placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message textarea::-moz-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message textarea:-ms-input-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message textarea::placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box {
    display: flex;
    flex-direction: column;
  }
  .callboss-pad .input-box .info-box .name input {
    width: 80%;
    height: 35px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    margin-bottom: 20px;
    color: #6E786D;
  }
  .callboss-pad .input-box .info-box .name input::-moz-placeholder {
    color: #7D7D7D;
  }
  .callboss-pad .input-box .info-box .name input:-ms-input-placeholder {
    color: #7D7D7D;
  }
  .callboss-pad .input-box .info-box .name input::placeholder {
    color: #7D7D7D;
  }
  .callboss-pad .input-box .info-box .phone input {
    width: 80%;
    height: 35px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    margin-bottom: 20px;
    color: #6E786D;
  }
  .callboss-pad .input-box .info-box .phone input::-moz-placeholder {
    color: #7D7D7D;
  }
  .callboss-pad .input-box .info-box .phone input:-ms-input-placeholder {
    color: #7D7D7D;
  }
  .callboss-pad .input-box .info-box .phone input::placeholder {
    color: #7D7D7D;
  }
  .callboss-pad .input-box .info-box .mail input {
    width: 80%;
    height: 35px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    margin-bottom: 20px;
    color: #6E786D;
  }
  .callboss-pad .input-box .info-box .mail input::-moz-placeholder {
    color: #7D7D7D;
  }
  .callboss-pad .input-box .info-box .mail input:-ms-input-placeholder {
    color: #7D7D7D;
  }
  .callboss-pad .input-box .info-box .mail input::placeholder {
    color: #7D7D7D;
  }
}
@media (max-width: 640px) {
  #bar i {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 35px;
  }
  #bar i:active {
    transform: translate(1px, 1px);
    transition: 0.1s ease;
  }
  .backTop {
    display: none;
    bottom: 100px;
    right: 10px;
  }
  nav {
    display: none;
  }
  footer {
    flex-direction: column;
    height: 100px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 16px;
    line-height: 20px;
  }
  footer .logoTxt {
    width: 97px;
    height: 24px;
    font-size: 12px;
    margin: 0;
  }
  footer .maker span {
    padding-bottom: 16px;
  }
}
@media (max-width: 499px) {
  .tittle h1 {
    font-size: 25px;
  }
}
@media (max-width: 430px) {
  #bar i {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }
  .none-375 {
    display: none !important;
  }
}
@media (max-width: 430px) {
  .tittle {
    padding-top: 135px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tittle h1 {
    display: block;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #424242;
  }
  .tittle h3 {
    display: block;
    font-size: 12px;
    line-height: 22px;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #424242;
  }
  .schematic {
    display: none;
  }
  .schematic-mobile {
    display: block;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;
  }
  .schematic-mobile .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    width: 33%;
    height: 100%;
  }
  .schematic-mobile .img1 {
    background-image: url(../Images/np-custom-ccd/cus5.jpg);
  }
  .schematic-mobile .img2 {
    background-image: url(../Images/np-custom-ccd/cus2.jpg);
  }
  .schematic-mobile .img3 {
    background-image: url(../Images/np-custom-ccd/cus7.jpg);
  }
  .venue {
    display: none;
  }
  .callboss-pad {
    display: block;
    width: 100%;
    height: 456px;
    padding-top: 25px;
    display: flex;
    background-color: #F7DEC3;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .callboss-pad .formbox {
    width: 80%;
    height: 100%;
    background-color: #F7DEC3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(8%, 0);
  }
  .callboss-pad .formbox #submit-pad {
    width: 81px;
    height: 31px;
    background-color: #6E786D;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 3px 1px #504e4e;
    transform: translate(-20%, 60%);
  }
  .callboss-pad .formbox #submit-pad span {
    font-size: 12px;
    line-height: 17.38px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .callboss-pad .formbox #submit-pad span p {
    display: none;
    transform: rotate(21.91deg);
  }
  .callboss-pad .formbox #submit-pad:hover {
    box-shadow: 1px 1px 5px 3px #634a4a;
  }
  .callboss-pad .formbox #submit-pad:active {
    box-shadow: 1px 1px 5px 3px #634a4a;
    background-color: #be6c6c;
  }
  .callboss-pad .title {
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-8%, 0);
  }
  .callboss-pad .title h3 {
    font-size: 15px;
    line-height: 22px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    color: #424242;
  }
  .callboss-pad .input-box {
    width: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: column-reverse;
  }
  .callboss-pad .input-box .message {
    transform: translate(0, 0);
  }
  .callboss-pad .input-box .message input {
    width: 255px;
    height: 120px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
  }
  .callboss-pad .input-box .message textarea {
    width: 255px;
    height: 120px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    padding: 10px 0 0 0;
  }
  .callboss-pad .input-box .message input::-moz-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message input:-ms-input-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message input::placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box {
    display: flex;
    flex-direction: column;
  }
  .callboss-pad .input-box .info-box .name input {
    width: 255px;
    height: 38px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    margin-bottom: 20px;
  }
  .callboss-pad .input-box .info-box .name input::-moz-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .name input:-ms-input-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .name input::placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .phone input {
    width: 255px;
    height: 38px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    margin-bottom: 20px;
  }
  .callboss-pad .input-box .info-box .phone input::-moz-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .phone input:-ms-input-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .phone input::placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .mail input {
    width: 255px;
    height: 38px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    margin-bottom: 20px;
  }
  .callboss-pad .input-box .info-box .mail input::-moz-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .mail input:-ms-input-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .mail input::placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .footerlocat {
    margin-top: 0px;
  }
}
@media (max-width: 375px) {
  .tittle {
    padding-top: 135px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tittle h1 {
    display: block;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #424242;
  }
  .tittle h3 {
    display: block;
    font-size: 12px;
    line-height: 22px;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #424242;
  }
  .schematic {
    display: none;
  }
  .schematic-mobile {
    display: block;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;
  }
  .schematic-mobile .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    width: 33%;
    height: 100%;
  }
  .schematic-mobile .img1 {
    background-image: url(../Images/np-custom-ccd/cus5.jpg);
  }
  .schematic-mobile .img2 {
    background-image: url(../Images/np-custom-ccd/cus2.jpg);
  }
  .schematic-mobile .img3 {
    background-image: url(../Images/np-custom-ccd/cus7.jpg);
  }
  .venue {
    display: none;
  }
  .callboss-pad {
    display: block;
    width: 100%;
    height: 456px;
    padding-top: 25px;
    display: flex;
    background-color: #F7DEC3;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .callboss-pad .formbox {
    width: 80%;
    height: 100%;
    background-color: #F7DEC3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(8%, 0);
  }
  .callboss-pad .formbox #submit-pad {
    width: 81px;
    height: 31px;
    background-color: #6E786D;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 3px 1px #504e4e;
    transform: translate(-20%, 60%);
  }
  .callboss-pad .formbox #submit-pad span {
    font-size: 12px;
    line-height: 17.38px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .callboss-pad .formbox #submit-pad span p {
    display: none;
    transform: rotate(21.91deg);
  }
  .callboss-pad .formbox #submit-pad:hover {
    box-shadow: 1px 1px 5px 3px #634a4a;
  }
  .callboss-pad .formbox #submit-pad:active {
    box-shadow: 1px 1px 5px 3px #634a4a;
    background-color: #be6c6c;
  }
  .callboss-pad .title {
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-8%, 0);
  }
  .callboss-pad .title h3 {
    font-size: 15px;
    line-height: 22px;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    color: #424242;
  }
  .callboss-pad .input-box {
    width: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: column-reverse;
  }
  .callboss-pad .input-box .message {
    transform: translate(0, 0);
  }
  .callboss-pad .input-box .message input {
    width: 255px;
    height: 120px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
  }
  .callboss-pad .input-box .message textarea {
    width: 255px;
    height: 120px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    padding: 10px 0 0 0;
  }
  .callboss-pad .input-box .message input::-moz-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message input:-ms-input-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .message input::placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box {
    display: flex;
    flex-direction: column;
  }
  .callboss-pad .input-box .info-box .name input {
    width: 255px;
    height: 38px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    margin-bottom: 20px;
  }
  .callboss-pad .input-box .info-box .name input::-moz-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .name input:-ms-input-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .name input::placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .phone input {
    width: 255px;
    height: 38px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    margin-bottom: 20px;
  }
  .callboss-pad .input-box .info-box .phone input::-moz-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .phone input:-ms-input-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .phone input::placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .mail input {
    width: 255px;
    height: 38px;
    border-radius: 15px;
    background-color: #F7DEC3;
    border: 1px solid #424242;
    margin-bottom: 20px;
  }
  .callboss-pad .input-box .info-box .mail input::-moz-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .mail input:-ms-input-placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .callboss-pad .input-box .info-box .mail input::placeholder {
    color: #7D7D7D;
    padding-left: 11px;
  }
  .footerlocat {
    margin-top: 0px;
  }
}/*# sourceMappingURL=customized.css.map */