* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
  height: 55px;
  background-color: #6E786D;
  display: flex;
  justify-content: center;
  font-family: "Zen Maru Gothic", sans-serif;
  position: fixed;
  opacity: 0;
  transition: 1s;
  z-index: 1;
}
nav .bar-L {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 45px;
  margin-right: 40px;
}
nav .bar-logo {
  position: relative;
  width: 110px;
  height: 110px;
}
nav .bar-logo img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
nav .bar-R {
  height: 100%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 45px;
}

.block {
  opacity: 1;
  z-index: 1;
}

main #banner {
  width: 100%;
  /* Hide the images by default */
}
main #banner .slideshow-container {
  position: relative;
  margin: auto;
  /* Fading animation */
}
main #banner .slideshow-container .mySlides {
  position: relative;
  display: none;
  height: 961px;
  /* Caption text */
  /* Number text (1/3 etc) */
}
main #banner .slideshow-container .mySlides .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
main #banner .slideshow-container .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
main #banner .slideshow-container .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
main #banner .slideshow-container img {
  height: 961px;
}
main #banner .dots {
  width: 100px;
  height: 285px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0.7;
}
main #banner .dots:hover {
  opacity: 1;
}
main #banner .dots .dots-move {
  width: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  flex-flow: column;
  /* The dots/bullets/indicators */
}
main #banner .dots .dots-move .dot {
  height: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  top: 0px;
  margin-bottom: 37px;
}
main #banner .dots .dots-move .dot::before {
  content: "";
  width: 2px;
  height: calc(100% + 20px);
  background: #fff;
  position: absolute;
  top: -49px;
  left: 50%;
}
main #banner .dots .dots-move .dot::after {
  content: "";
  cursor: pointer;
  height: 15px;
  width: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: absolute;
  bottom: 12px;
}
main #banner .dots .dots-move .dot:hover::after {
  background-color: yellow;
  transform: scale(1.1);
  transition: all 0.5s;
}
main #banner .dots .dots-move .dot.active::after {
  background-color: yellow;
}
main #about {
  height: 961px;
  color: #fff;
  background-color: #6E786D;
}
main #about .about-logo {
  padding-top: 114px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
main #about .about-logo img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
main #about .about-text {
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  font-family: "Zen Maru Gothic", sans-serif;
}
main #about .about-text .textgp {
  margin-top: 70px;
}
main #cof {
  height: 961px;
  background-color: #F6DEC3;
  position: relative;
  margin-bottom: 113px;
}
main #cof .cof-spn {
  font-size: 96px;
  font-family: "Island Moments", cursive;
  position: absolute;
  left: 17%;
  top: 16%;
}
main #cof .cof-p {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-family: "Zen Maru Gothic", sans-serif;
  gap: 28px;
  position: absolute;
  top: 41%;
  left: 20%;
}
main #cof .cof-p p {
  letter-spacing: 10px;
}
main #cof .swiper {
  width: 52%;
  height: 586px;
  position: absolute;
  top: 262px;
  left: 29%;
  border-radius: 20px;
}
main #cof .swiper-slide img {
  width: 1102px;
  height: 586px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
main #cof .swiper-pagination {
  width: 85%;
  position: absolute;
  bottom: 90px;
  left: 250px;
}
main #cof .swiper-pagination-bullet {
  width: calc((100% - 700px) / 3);
  height: 5px;
  border-radius: 15px;
  background-color: gray;
  margin-right: 20px;
}
main #cof-pic {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 113.65px;
}
main #cof-pic img {
  width: 33.33333%;
  height: 366.35px;
}
main #dessert .des-pic {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
main #dessert .des-pic img {
  width: 33.333333%;
  height: 300px;
  border-radius: 20px;
}/*# sourceMappingURL=index.css.map */