* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.whiteback {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: 0.5;
  position: fixed;
  z-index: 1;
  display: none;
}

#bar {
  display: flex;
}
#bar i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  background-color: #6E786D;
  cursor: pointer;
  position: fixed;
  top: 11px;
  left: 12px;
  z-index: 14;
  display: none;
  transition: 1s ease;
}
#bar .bar-menu {
  width: 260px;
  height: 350px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Zen Maru Gothic", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #F6DEC3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6E786D;
  border-radius: 10px;
  z-index: 1;
  display: none;
}
#bar .bar-menu a {
  text-decoration: none;
  color: #F6DEC3;
}

.active {
  display: flex !important;
  transition: 1s ease;
}

.ovhd {
  overflow: hidden;
  z-index: 99;
}

nav {
  width: 100%;
  height: 55px;
  background-color: #6E786D;
  display: flex;
  justify-content: center;
  font-family: "Zen Maru Gothic", sans-serif;
  position: fixed;
  opacity: 1;
  transition: 1s;
  z-index: 6;
  box-shadow: 0px 0.5px 3px 0px #565454;
}
nav .bar-L {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 30px;
  margin-right: 40px;
}
nav .bar-logo {
  position: relative;
  width: 110px;
  height: 110px;
  padding-top: 15px;
}
nav .bar-logo .logo-back {
  width: 125px;
  height: 125px;
  background-color: #6E786D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1.5px 2px 0px #565454;
}
nav .bar-logo .logo-back a {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .bar-logo .logo-back a img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  height: 35px;
  border-radius: 20px;
  text-align: center;
  padding: 0 10px;
}
nav .bar-R {
  height: 100%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}

nav .bar-hover:hover {
  color: #424242;
  height: 35px;
  border-radius: 20px;
  background-color: #F6DEC3;
  text-align: center;
  line-height: 32px;
  padding: 0 10px;
}

nav:hover {
  opacity: 1;
}

.block {
  opacity: 1;
  z-index: 8;
}

.le-choice {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 40%;
  left: 0%;
}
.le-choice .pointer-pc {
  width: 200px;
  height: 200px;
  background-color: #6E786D;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: -30%;
  transform: rotate(-80deg);
}
.le-choice .pointer-pc .arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F6DEC3;
  position: absolute;
  top: 45%;
  left: 82%;
}
.le-choice .choice-list {
  width: 100px;
  height: 300px;
  position: absolute;
  top: -3%;
  left: 50%;
}
.le-choice .choice-list .btn {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  background-color: #6E786D;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
  cursor: pointer;
}
.le-choice .choice-list .btn span {
  font-size: 30px;
  color: #FFFFFF;
  font-family: "Zen Maru Gothic";
}
.le-choice .choice-list .btn span:hover {
  color: #565454;
}
.le-choice .choice-list .btn .span-act {
  color: #565454;
}
.le-choice .choice-list .btn:hover {
  background-color: #F6DEC3;
}
.le-choice .choice-list .btn1 {
  transform: translate(-200%, 0);
}
.le-choice .choice-list .btn2 {
  transform: translate(-100%, 0);
}
.le-choice .choice-list .btn3 {
  transform: translate(-50%, 0);
}
.le-choice .choice-list .btn4 {
  transform: translate(-30%, 0);
}
.le-choice .choice-list .btn5 {
  transform: translate(-30%, 0);
}
.le-choice .choice-list .btn6 {
  transform: translate(-50%, 0);
}
.le-choice .choice-list .btn7 {
  transform: translate(-100%, 0);
}
.le-choice .choice-list .btn8 {
  transform: translate(-200%, 0);
}
.le-choice .choice-list .btn-act {
  background-color: #F6DEC3;
}
.le-choice .pointer-mobile {
  display: none;
}

main {
  display: flex;
  justify-content: center;
}

.menu-card-box {
  width: 66%;
  padding-top: 220px;
}
.menu-card-box .menu-card {
  display: flex;
  margin-bottom: 30px;
}
.menu-card-box .menu-card img {
  width: 62%;
  height: 278px;
  border-radius: 20px;
}
.menu-card-box .menu-card .image {
  width: 62%;
  height: 300px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.menu-card-box .menu-card .content {
  width: 38%;
  padding-left: 32px;
}
.menu-card-box .menu-card .content .classification {
  font-size: 50px;
  font-weight: 400;
  color: #424242;
  margin-bottom: 20px;
}
.menu-card-box .menu-card .content .classification span {
  font-size: 40px;
}
.menu-card-box .menu-card .content .item-list {
  margin-bottom: 20px;
  display: flex;
}
.menu-card-box .menu-card .content .item-list .item {
  width: 280px;
}
.menu-card-box .menu-card .content .item-list .item span {
  font-family: "Zen Maru Gothic";
  font-size: 20px;
  font-weight: 400;
  color: #424242;
  line-height: 35px;
}
.menu-card-box .menu-card .content .item-list .hot-cold {
  margin: 0px 70px 0px 35px;
}
.menu-card-box .menu-card .content .item-list .hot-cold span {
  font-family: "Zen Maru Gothic";
  font-size: 20px;
  font-weight: 400;
  color: #424242;
  line-height: 35px;
}
.menu-card-box .menu-card .content .item-list .price span {
  font-family: "Zen Maru Gothic";
  font-size: 20px;
  font-weight: 400;
  color: #424242;
  line-height: 35px;
  display: flex;
  justify-content: center;
}
.menu-card-box .card1 .image {
  background-image: url(../Images/np-menu/coffee-2.jpg);
}
.menu-card-box .card2 .image {
  background-image: url(../Images/np-menu/pour_coffee.jpg);
}
.menu-card-box .card2 .content .item-list .item {
  width: 300px;
}
.menu-card-box .card2 .content .item-list .hot-cold {
  margin: 0px 0px 0px 0px;
}
.menu-card-box .card3 .image {
  background-image: url(../Images/np-menu/bubble_coffee.jpg);
}
.menu-card-box .card4 .image {
  background-image: url(../Images/np-menu/black_coffee-right.jpg);
}
.menu-card-box .card5 .image {
  background-image: url(../Images/np-menu/latte.jpg);
}
.menu-card-box .card6 .image {
  background-image: url(../Images/np-menu/bubble_tea.jpg);
}
.menu-card-box .card7 .image {
  background-image: url(../Images/np-menu/juice.jpg);
}
.menu-card-box .card8 .image {
  background-image: url(../Images/np-menu/ice-cream.jpg);
}
.menu-card-box .dividing {
  width: 100%;
  height: 1px;
  background-color: #424242;
  margin: 30px 0 60px 0;
}

footer {
  min-width: 100%;
  height: 80px;
  background-color: #6E786D;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 35px;
  font-family: "Zen Maru Gothic", sans-serif;
}
footer .logoTxt {
  width: 136px;
  height: 35px;
  margin-left: 30px;
}
footer .logoTxt img {
  width: 100%;
}
footer .maker {
  margin-right: 30px;
}

@media (max-width: 1600px) {
  .le-choice {
    display: none;
  }
  .menu-card-box {
    width: 80%;
  }
  .menu-card-box .menu-card .image {
    width: 50%;
  }
  .menu-card-box .menu-card .content {
    width: 50%;
  }
  .menu-card-box .menu-card .content .classification {
    font-size: 40px;
  }
  .menu-card-box .menu-card .content .classification span {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  nav a {
    font-size: 18px;
  }
  nav .bar-L {
    margin-right: 10px;
    gap: 10px;
    line-height: 35px;
  }
  nav .bar-logo .logo-back {
    width: 110px;
    height: 110px;
  }
  nav .bar-logo .logo-back a img {
    width: 90%;
    height: 90%;
  }
  nav .bar-R {
    margin-left: 10px;
    gap: 10px;
    line-height: 35px;
  }
  nav .bar-hover:hover {
    line-height: 35px;
  }
}
@media (max-width: 999px) {
  .menu-card-box .menu-card .image {
    width: 62%;
    height: 278px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
  }
  .menu-card-box .menu-card .content .classification {
    font-size: 30px;
  }
  .menu-card-box .menu-card .content .classification span {
    font-size: 20px;
  }
  .menu-card-box .menu-card .content .item-list .item span {
    font-size: 16px;
    line-height: 30px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold {
    margin: 0px 40px 0px 25px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold span {
    font-size: 16px;
    line-height: 30px;
  }
  .menu-card-box .menu-card .content .item-list .price span {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  nav a {
    font-size: 15px;
    padding: 0 8px;
  }
  nav .bar-L {
    margin-right: 10px;
    gap: 10px;
    line-height: 38px;
  }
  nav .bar-logo {
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 89.72px;
    height: 89.72px;
  }
  nav .bar-logo .logo-back {
    width: 90px;
    height: 90px;
  }
  nav .bar-logo .logo-back img {
    width: 84.44px;
    height: 84.44px;
  }
  nav .bar-R {
    margin-left: 10px;
    gap: 10px;
    line-height: 38px;
  }
  nav .bar-hover:hover {
    height: 30px;
    padding: 0 8px;
    line-height: 30px;
  }
  .none {
    display: none;
  }
  .none-768 {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .menu-card-box {
    width: 86%;
    padding-top: 200px;
    padding-left: 60px;
  }
  .menu-card-box .menu-card {
    display: flex;
  }
  .menu-card-box .menu-card img {
    width: 283px;
    height: 147px;
    border-radius: 20px;
  }
  .menu-card-box .menu-card .image {
    width: 283px;
    height: 147px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .menu-card-box .menu-card .content {
    width: 50%;
    padding-left: 32px;
  }
  .menu-card-box .menu-card .content .classification {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    margin-bottom: 8px;
  }
  .menu-card-box .menu-card .content .classification span {
    font-size: 16px;
  }
  .menu-card-box .menu-card .content .item-list {
    margin-bottom: 20px;
    display: flex;
  }
  .menu-card-box .menu-card .content .item-list .item {
    width: 220px;
  }
  .menu-card-box .menu-card .content .item-list .item span {
    font-family: "Zen Maru Gothic";
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    line-height: 28px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold {
    margin: 0px 15px 0px 0px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold span {
    font-family: "Zen Maru Gothic";
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    line-height: 28px;
  }
  .menu-card-box .menu-card .content .item-list .price span {
    font-family: "Zen Maru Gothic";
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    line-height: 28px;
    display: flex;
    justify-content: center;
  }
  .menu-card-box .card2 .content .item-list .item {
    width: 300px;
  }
  .menu-card-box .card2 .content .item-list .hot-cold {
    margin: 0px 0px 0px 0px;
  }
  .menu-card-box .dividing {
    width: 100%;
    height: 1px;
    background-color: #424242;
    margin: 0px 0 30px 0;
  }
}
@media (max-width: 699px) {
  .menu-card-box {
    width: 80%;
    padding-top: 200px;
    padding-left: 60px;
  }
  .menu-card-box .menu-card {
    display: flex;
    flex-direction: column;
  }
  .menu-card-box .menu-card img {
    width: 100%;
    height: 147px;
    border-radius: 20px;
  }
  .menu-card-box .menu-card .image {
    width: 100%;
    height: 147px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .menu-card-box .menu-card .content {
    width: 100%;
    padding-left: 32px;
  }
  .menu-card-box .menu-card .content .classification {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    margin-bottom: 8px;
  }
  .menu-card-box .menu-card .content .classification span {
    font-size: 16px;
  }
  .menu-card-box .menu-card .content .item-list {
    margin-bottom: 20px;
    display: flex;
  }
  .menu-card-box .menu-card .content .item-list .item {
    width: 220px;
  }
  .menu-card-box .menu-card .content .item-list .item span {
    font-family: "Zen Maru Gothic";
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    line-height: 28px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold {
    margin: 0px 15px 0px 0px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold span {
    font-family: "Zen Maru Gothic";
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    line-height: 28px;
  }
  .menu-card-box .menu-card .content .item-list .price span {
    font-family: "Zen Maru Gothic";
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    line-height: 28px;
    display: flex;
    justify-content: center;
  }
  .menu-card-box .dividing {
    width: 100%;
    height: 1px;
    background-color: #424242;
    margin: 0px 0 30px 0;
  }
}
@media (max-width: 640px) {
  #bar i {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 35px;
  }
  #bar i:active {
    transform: translate(1px, 1px);
    transition: 0.1s ease;
  }
  .backTop {
    display: none;
    bottom: 100px;
    right: 10px;
  }
  nav {
    display: none;
  }
  footer {
    flex-direction: column;
    height: 100px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 16px;
    line-height: 20px;
  }
  footer .logoTxt {
    width: 97px;
    height: 24px;
    font-size: 12px;
    margin: 0;
  }
  footer .maker span {
    padding-bottom: 16px;
  }
}
@media (max-width: 430px) {
  #bar i {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }
  .none-375 {
    display: none !important;
  }
}
@media (max-width: 430px) {
  .menu-card-box {
    width: 100%;
    padding-top: 130px;
    padding-left: 60px;
  }
  .menu-card-box .menu-card {
    display: flex;
    flex-direction: column;
  }
  .menu-card-box .menu-card img {
    width: 100%;
    height: 147px;
    border-radius: 20px;
  }
  .menu-card-box .menu-card .image {
    width: 255px;
    height: 120px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .menu-card-box .menu-card .content {
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
  }
  .menu-card-box .menu-card .content .classification {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    margin-bottom: 8px;
  }
  .menu-card-box .menu-card .content .classification span {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
  }
  .menu-card-box .menu-card .content .item-list {
    margin-bottom: 20px;
    display: flex;
  }
  .menu-card-box .menu-card .content .item-list .item {
    width: 200px;
  }
  .menu-card-box .menu-card .content .item-list .item span {
    font-family: "Zen Maru Gothic";
    font-size: 12px;
    font-weight: 400;
    color: #424242;
    line-height: 20px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold {
    margin: 0px 20px 0px 0px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold span {
    font-family: "Zen Maru Gothic";
    font-size: 12px;
    font-weight: 400;
    color: #424242;
    line-height: 20px;
  }
  .menu-card-box .menu-card .content .item-list .price span {
    font-family: "Zen Maru Gothic";
    font-size: 12px;
    font-weight: 400;
    color: #424242;
    line-height: 20px;
    display: flex;
    justify-content: center;
  }
  .menu-card-box .dividing {
    width: 86%;
    height: 1px;
    background-color: #424242;
    margin: 0px 0 30px 0;
  }
}
@media (max-width: 375px) {
  .menu-card-box {
    width: 100%;
    padding-top: 130px;
    padding-left: 60px;
  }
  .menu-card-box .menu-card {
    display: flex;
    flex-direction: column;
  }
  .menu-card-box .menu-card img {
    width: 100%;
    height: 147px;
    border-radius: 20px;
  }
  .menu-card-box .menu-card .image {
    width: 255px;
    height: 120px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .menu-card-box .menu-card .content {
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
  }
  .menu-card-box .menu-card .content .classification {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    margin-bottom: 8px;
  }
  .menu-card-box .menu-card .content .classification span {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
  }
  .menu-card-box .menu-card .content .item-list {
    margin-bottom: 20px;
    display: flex;
  }
  .menu-card-box .menu-card .content .item-list .item {
    width: 200px;
  }
  .menu-card-box .menu-card .content .item-list .item span {
    font-family: "Zen Maru Gothic";
    font-size: 12px;
    font-weight: 400;
    color: #424242;
    line-height: 20px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold {
    margin: 0px 20px 0px 0px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold span {
    font-family: "Zen Maru Gothic";
    font-size: 12px;
    font-weight: 400;
    color: #424242;
    line-height: 20px;
  }
  .menu-card-box .menu-card .content .item-list .price span {
    font-family: "Zen Maru Gothic";
    font-size: 12px;
    font-weight: 400;
    color: #424242;
    line-height: 20px;
    display: flex;
    justify-content: center;
  }
  .menu-card-box .dividing {
    width: 86%;
    height: 1px;
    background-color: #424242;
    margin: 0px 0 30px 0;
  }
}/*# sourceMappingURL=menu.css.map */