* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Zen Maru Gothic", sans-serif;
}

nav {
  width: 100%;
  height: 55px;
  background-color: #6E786D;
  display: flex;
  justify-content: center;
  font-family: "Zen Maru Gothic", sans-serif;
  position: fixed;
  transition: 1s;
  z-index: 1;
}
nav .bar-L {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 45px;
  margin-right: 40px;
}
nav .bar-logo {
  position: relative;
  width: 110px;
  height: 110px;
  padding-top: 15px;
}
nav .bar-logo img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
nav .bar-R {
  height: 100%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 45px;
}

.block {
  opacity: 1;
  z-index: 2;
}

main {
  display: flex;
  justify-content: center;
}

.menu-card-box {
  width: 66%;
  padding-top: 220px;
}
.menu-card-box .menu-card {
  display: flex;
}
.menu-card-box .menu-card img {
  width: 62%;
  height: 278px;
  border-radius: 20px;
}
.menu-card-box .menu-card .image {
  width: 62%;
  height: 300px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.menu-card-box .menu-card .content {
  width: 38%;
  padding-left: 32px;
}
.menu-card-box .menu-card .content .classification {
  font-size: 50px;
  font-weight: 400;
  color: #424242;
  margin-bottom: 20px;
}
.menu-card-box .menu-card .content .classification span {
  font-size: 40px;
}
.menu-card-box .menu-card .content .item-list {
  margin-bottom: 20px;
  display: flex;
}
.menu-card-box .menu-card .content .item-list .item {
  width: 280px;
}
.menu-card-box .menu-card .content .item-list .item span {
  font-family: "Zen Maru Gothic";
  font-size: 20px;
  font-weight: 400;
  color: #424242;
  line-height: 35px;
}
.menu-card-box .menu-card .content .item-list .hot-cold {
  margin: 0px 70px 0px 35px;
}
.menu-card-box .menu-card .content .item-list .hot-cold span {
  font-family: "Zen Maru Gothic";
  font-size: 20px;
  font-weight: 400;
  color: #424242;
  line-height: 35px;
}
.menu-card-box .menu-card .content .item-list .price span {
  font-family: "Zen Maru Gothic";
  font-size: 20px;
  font-weight: 400;
  color: #424242;
  line-height: 35px;
  display: flex;
  justify-content: center;
}
.menu-card-box .card1 .image {
  background-image: url(../Images/np-menu/coffee-2.jpg);
}
.menu-card-box .card2 .image {
  background-image: url(../Images/np-menu/coffee-2.jpg);
}
.menu-card-box .card2 .content .item-list .item {
  width: 300px;
}
.menu-card-box .card2 .content .item-list .hot-cold {
  margin: 0px 0px 0px 0px;
}
.menu-card-box .card3 .image {
  background-image: url(../Images/np-menu/coffee-2.jpg);
}
.menu-card-box .card4 .image {
  background-image: url(../Images/np-menu/black_coffee-right.jpg);
}
.menu-card-box .card5 .image {
  background-image: url(../Images/np-menu/coffee-2.jpg);
}
.menu-card-box .card6 .image {
  background-image: url(../Images/np-menu/bubble_tea.jpg);
}
.menu-card-box .card7 .image {
  background-image: url(../Images/np-menu/coffee-2.jpg);
}
.menu-card-box .card8 .image {
  background-image: url(../Images/np-menu/ice-cream.jpg);
}
.menu-card-box .dividing {
  width: 100%;
  height: 1px;
  background-color: #424242;
  margin: 30px 0 60px 0;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #6E786D;
}

@media (max-width: 1600px) {
  .menu-card-box {
    width: 80%;
  }
  .menu-card-box .menu-card .image {
    width: 50%;
  }
  .menu-card-box .menu-card .content {
    width: 50%;
  }
  .menu-card-box .menu-card .content .classification {
    font-size: 40px;
  }
  .menu-card-box .menu-card .content .classification span {
    font-size: 30px;
  }
}
@media (max-width: 999px) {
  .menu-card-box .menu-card .image {
    width: 62%;
    height: 278px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
  }
  .menu-card-box .menu-card .content .classification {
    font-size: 30px;
  }
  .menu-card-box .menu-card .content .classification span {
    font-size: 20px;
  }
  .menu-card-box .menu-card .content .item-list .item span {
    font-size: 16px;
    line-height: 30px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold {
    margin: 0px 40px 0px 25px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold span {
    font-size: 16px;
    line-height: 30px;
  }
  .menu-card-box .menu-card .content .item-list .price span {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .menu-card-box {
    width: 86%;
    padding-top: 200px;
    padding-left: 60px;
  }
  .menu-card-box .menu-card {
    display: flex;
  }
  .menu-card-box .menu-card img {
    width: 283px;
    height: 147px;
    border-radius: 20px;
  }
  .menu-card-box .menu-card .image {
    width: 283px;
    height: 147px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .menu-card-box .menu-card .content {
    width: 50%;
    padding-left: 32px;
  }
  .menu-card-box .menu-card .content .classification {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    margin-bottom: 8px;
  }
  .menu-card-box .menu-card .content .classification span {
    font-size: 16px;
  }
  .menu-card-box .menu-card .content .item-list {
    margin-bottom: 20px;
    display: flex;
  }
  .menu-card-box .menu-card .content .item-list .item {
    width: 220px;
  }
  .menu-card-box .menu-card .content .item-list .item span {
    font-family: "Zen Maru Gothic";
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    line-height: 28px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold {
    margin: 0px 15px 0px 0px;
  }
  .menu-card-box .menu-card .content .item-list .hot-cold span {
    font-family: "Zen Maru Gothic";
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    line-height: 28px;
  }
  .menu-card-box .menu-card .content .item-list .price span {
    font-family: "Zen Maru Gothic";
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    line-height: 28px;
    display: flex;
    justify-content: center;
  }
  .menu-card-box .dividing {
    width: 100%;
    height: 1px;
    background-color: #424242;
    margin: 0px 0 30px 0;
  }
}/*# sourceMappingURL=menu.css.map */