* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Zen Maru Gothic", sans-serif;
}

nav {
  width: 100%;
  height: 55px;
  background-color: #6E786D;
  display: flex;
  justify-content: center;
  font-family: "Zen Maru Gothic", sans-serif;
  position: fixed;
  transition: 1s;
  z-index: 1;
}
nav .bar-L {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 45px;
  margin-right: 40px;
}
nav .bar-logo {
  position: relative;
  width: 110px;
  height: 110px;
  padding-top: 15px;
}
nav .bar-logo img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
nav .bar-R {
  height: 100%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 45px;
}

.block {
  opacity: 1;
  z-index: 2;
}

.buttonbox-pad {
  display: none;
}

.buttonbox {
  padding-top: 225px;
  display: flex;
  justify-content: center;
}
.buttonbox .btn {
  width: 110px;
  height: 43px;
  background-color: #6e786d;
  border-radius: 20px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonbox .btn span {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
}
.buttonbox .btn:hover {
  background-color: #F6DEC3;
}
.buttonbox .active {
  background-color: #F6DEC3;
}

.container-pad {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
}
.container .cardbox {
  width: 70%;
  padding-top: 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container .cardbox .card {
  width: 400px;
  height: 440px;
  margin: 50px 20px;
}
.container .cardbox .card .card-img {
  width: 100%;
  height: 356px;
}
.container .cardbox .card .card-img img {
  width: 100%;
  height: 356px;
  border-radius: 20px;
}
.container .cardbox .card .news-class {
  margin: 15px 0;
  display: flex;
}
.container .cardbox .card .news-class .label {
  width: 68px;
  height: 21px;
  background-color: #6e786d;
  border-radius: 20px;
}
.container .cardbox .card .news-class .label span {
  font-size: 12px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .cardbox .card .news-class .line-box {
  width: 100%;
  display: flex;
  align-items: center;
}
.container .cardbox .card .news-class .line-box .line {
  width: 100%;
  height: 0.5px;
  background-color: #6e786d;
}
.container .cardbox .card .ellipsis2 {
  font-size: 20px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.container .cardbox .display-none {
  display: none;
}

.footerlocat {
  margin-top: 90px;
  width: 100%;
  height: 80px;
  background-color: #6e786d;
  display: none;
}

@media (max-width: 768px) {
  .buttonbox {
    display: none;
  }
  .buttonbox-pad {
    display: block;
    padding-top: 150px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
  }
  .buttonbox-pad .btn {
    width: 90px;
    height: 34px;
    background-color: #6e786d;
    border-radius: 20px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonbox-pad .btn span {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
  }
  .buttonbox-pad .btn:hover {
    background-color: #F6DEC3;
  }
  .buttonbox-pad .active {
    background-color: #F6DEC3;
  }
  .container {
    display: none;
  }
  .container-pad {
    display: block;
    display: flex;
    justify-content: center;
  }
  .container-pad .cardbox-pad {
    width: 60%;
    padding-top: 25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .container-pad .cardbox-pad .card {
    width: 500px;
    height: 130px;
    margin-bottom: 35px;
    display: flex;
  }
  .container-pad .cardbox-pad .card .card-img img {
    width: 245px;
    height: 130px;
    border-radius: 20px;
  }
  .container-pad .cardbox-pad .card .content {
    width: 245px;
    height: 130px;
    padding-top: 5px;
    padding-left: 30px;
  }
  .container-pad .cardbox-pad .card .content .news-class {
    display: flex;
    margin-bottom: 8px;
  }
  .container-pad .cardbox-pad .card .content .news-class .label {
    width: 68px;
    height: 21px;
    background-color: #6e786d;
    border-radius: 20px;
  }
  .container-pad .cardbox-pad .card .content .news-class .label span {
    font-size: 12px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-pad .cardbox-pad .card .content .ellipsis3 {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .container-pad .cardbox-pad .display-none {
    display: none;
  }
}
@media (max-width: 640px) {
  .container-pad .cardbox-pad {
    width: 95%;
    justify-content: center;
  }
  .container-pad .cardbox-pad .card {
    width: 320px;
  }
  .container-pad .cardbox-pad .card .card-img img {
    width: 145px;
  }
  .container-pad .cardbox-pad .display-none {
    display: none;
  }
}
@media (max-width: 375px) {
  .buttonbox-pad {
    padding-top: 150px;
    padding-left: 15px;
  }
  .buttonbox-pad .btn {
    width: 64px;
    height: 23px;
    margin: 10px 5px;
  }
  .buttonbox-pad .btn span {
    font-size: 12px;
    line-height: 17px;
  }
  .buttonbox-pad .btn:hover {
    background-color: #F6DEC3;
  }
  .buttonbox-pad .active {
    background-color: #F6DEC3;
  }
  .container {
    display: none;
  }
  .container-pad {
    display: block;
    display: flex;
    justify-content: center;
  }
  .container-pad .cardbox-pad {
    width: 68%;
    padding-top: 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .container-pad .cardbox-pad .card {
    width: 500px;
    height: 130px;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
  }
  .container-pad .cardbox-pad .card .card-img img {
    width: 255px;
    height: 120px;
    border-radius: 20px;
  }
  .container-pad .cardbox-pad .card .content {
    width: 255px;
    height: 130px;
    padding-left: 8px;
    display: flex;
  }
  .container-pad .cardbox-pad .card .content .news-class {
    display: flex;
    margin-bottom: 8px;
    padding-top: 5px;
  }
  .container-pad .cardbox-pad .card .content .news-class .label {
    width: 3px;
    height: 32px;
    border-radius: 20px;
  }
  .container-pad .cardbox-pad .card .content .news-class .label span {
    display: none;
  }
  .container-pad .cardbox-pad .card .content .ellipsis3 {
    font-size: 12px;
    line-height: 20px;
    padding-left: 10px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .container-pad .cardbox-pad .display-none {
    display: none;
  }
}/*# sourceMappingURL=news.css.map */