* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior:smooth
}
body{
   
}
// <<<<<<< HEAD
.whiteback{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0.5;
    position: fixed;
    z-index: 1;
    display: none;
}
#bar{
    display: flex;    
    
    i{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
        background-color:#6E786D;
        cursor: pointer;
        position: fixed;
        top: 11px;
        left: 12px;
        z-index: 1;
        display: none;
        transition: 1s ease;
    }
    .bar-menu{
        width: 260px;
        height: 350px;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Zen Maru Gothic', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        color: #F6DEC3;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:#6E786D;
        border-radius: 10px;
        z-index: 1;
        display: none;
        
        a{
            text-decoration: none;
            color:#F6DEC3;
        }
    }
}
.active{
    display: flex !important;
    transition: 1s ease;    
}
.ovhd{
    overflow: hidden;
}
.backTop{
    border: 1px solid #424242;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    right: 40px;
    bottom: 30px;
    cursor: pointer;
    a{
        text-decoration: none;
        color: #424242;
        svg{
            display: flex;
            justify-content: center;
        }
    }
}

//修改陰影
nav {
    width: 100%;
    height: 55px;
    background-color: #6E786D;
    display: flex;
    justify-content: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    position: fixed;
    opacity: 0;
    transition: 1s;
    z-index: 6;
    box-shadow:0px 0.5px 3px 0px #565454;
    

    .bar-L {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 30px;
        margin-right: 40px;

    }

    .bar-logo {
        position: relative;
        width: 110px;
        height: 110px;
        padding-top: 15px;
        
        //修改陰影
        .logo-back {
            width: 125px;
            height: 125px;
            background-color: #6E786D;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow:0px 1.5px 2px 0px #565454;
            a{
                width: 110px;
                height: 110px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                }
            }

        }

    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        height: 35px;
        border-radius: 20px;
        text-align: center;
        padding: 0 10px;
    }

    .bar-R {
        height: 100%;
        margin-left: 40px;
        display: flex;
        align-items: center;
        gap: 30px;
        // line-height: 30px;
    }
}
nav .bar-hover:hover{
    color: #424242;
    height: 35px;
    border-radius: 20px;
    background-color: #F6DEC3;
    text-align: center;
    line-height: 32px;
    padding: 0 10px;
  }

nav:hover{
    opacity: 1;
}
.block {
    opacity: 1;
    z-index: 8;
}


main {
    min-width: 100%;
    #banner {
        width: 100%;

        /* Hide the images by default */
        .slideshow-container {
            position: relative;
            margin: auto;
             /* Next & previous buttons */
             .prev,
             .next {
                 cursor: pointer;
                 position: absolute;
                 top: 50%;
                 width: auto;
                 padding: 16px;
                 margin-top: -22px;
                 color: white;
                 font-weight: bold;
                 font-size: 18px;
                 transition: 0.6s ease;
                 border-radius: 0 3px 3px 0;
                 user-select: none;
                 display: none;
             }

             /* Position the "next button" to the right */
             .next {
                 right: 0;
                 border-radius: 3px 0 0 3px;
             }

             /* On hover, add a black background color with a little bit see-through */
             .prev:hover,
             .next:hover {
                 background-color: rgba(0, 0, 0, 0.8);
             }


            .ban1,
            .ban2,
            .ban3,
            .ban4,
            .ban5,
            .ban6 {
                width: 100%;
                background-position: 0 0;
                background-size: cover;
                background-repeat: no-repeat;
                
            }

            .ban1 {
                background-image: url('/Images/rest-1.jpg');
            }

            .ban2 {
                background-image: url('/Images/cof-pic-5.jpg');
            }

            .ban3 {
                background-image: url('/Images/rest-3.jpg');
            }

            .ban4 {
                background-image: url('/Images/rest-4.jpg');
            }

            .ban5 {
                background-image: url('/Images/rest-5.jpg');
            }

            .ban6 {
                background-image: url('');
            }

            .mySlides {
                position: relative;
                display: none;
                height: 961px;

               
                /* Caption text */
                .text {
                    color: #f2f2f2;
                    font-size: 15px;
                    padding: 8px 12px;
                    position: absolute;
                    bottom: 8px;
                    width: 100%;
                    text-align: center;
                }

                /* Number text (1/3 etc) */
                .numbertext {
                    color: #f2f2f2;
                    font-size: 12px;
                    padding: 8px 12px;
                    position: absolute;
                    top: 0;
                }

            }

            /* Fading animation */
            .fade {
                animation-name: fade;
                animation-duration: 1.5s;
            }


            @keyframes fade {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }

            img {
                height: 961px;
            }
        }

        .dots {
            width: 100px;
            height: 285px;
            position: absolute;
            // background-color: wheat;
            top: 50%;
            transform: translate(0, -50%);
            right: 0px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }

            .dots-move {
                width: 100%;
                position: absolute;
                top: 0px;
                display: flex;
                flex-flow: column;

                /* The dots/bullets/indicators */
                .dot {
                    height: 30px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    position: relative;
                    top: 0px;
                    margin-bottom: 37px;

                    &::before {
                        content: '';
                        width: 2px;
                        height: calc(100% + 20px);
                        background: #fff;
                        position: absolute;
                        top: -49px;
                        left: 50%;
                    }


                    &::after {
                        content: '';
                        cursor: pointer;
                        height: 15px;
                        width: 15px;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        display: inline-block;
                        transition: background-color 0.6s ease;
                        position: absolute;
                        bottom: 12px;
                    }


                    &:hover::after {
                        background-color:#F6DEC3;
                        transform: scale(1.1);
                        transition: all 0.5s;

                    }

                    &.active::after {
                        background-color:#6E786D;
                    }
                }
            }
        }
    }

    #about {
        height: 961px;
        color: #fff;
        background-color: #6E786D;

        .about-logo {
            padding-top: 85px;
            margin-bottom: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            img {
                width: 240px;
                height: 240px;
                border-radius: 50%;
                box-shadow:0px 1px 5px 0px #565454

            }
        }

        .about-text {
            text-align: center;
            font-size: 20px;
            line-height: 35px;
            font-family: 'Zen Maru Gothic', sans-serif;
            .text-1{
                margin-bottom: 35px;
            }
            .text-2{
                margin-bottom: 35px;
            }
            .text-3{
                margin-bottom: 35px;
            }
            .textgp {
                
            }


        }
    }

    #cof {
        height: 962px;
        min-height: 1px;
        background-color: #F6DEC3;
        position: relative;
        margin-bottom: 113px;
        padding-bottom: 393px;

        .cof-spn {
            width: 308px;
            font-size: 96px;
            font-family: 'Island Moments', cursive;
            position: absolute;
            right: 65%;
            top: 14%;
        }

        .cof-p {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            writing-mode: vertical-rl;
            font-family: 'Zen Maru Gothic', sans-serif;
            gap: 28px;
            position: absolute;
            top: 37%;
            right: 74%;
            .cof-img{
                display: none;
            }

            //修改這邊
            // .cof-gi{
            //     display: none;
            // }
            .cof-gi{
                .cof-p1{
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    width: 85px;
                    justify-content: space-around;
                    p {
                        letter-spacing: 10px;
                    }
                }
                img{
                    display: none;
                }
            }

        }
//修改 transform
        .swiper-box{
            width: 58%;
            position: relative;
           right: -29%;
           top: 43%;
            .swiper {
                width: 100%;
                height: 586px;
                border-radius: 20px;
                // position: absolute;
                // top: 262px;
                // left: 481px;
                .swiper-wrapper{
                    .pic1{
                        background-image: url('/Images/去暗角.png');
                        background-position: 0% center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        
                    }
                    .pic2{
                        background-image: url('/Images/chair.jpg');
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .piic3{
                        background-image: url('/Images/coffepowder.jpg');
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                  
                }
            }
            .swiper-pagination {
                width: 100%;
                // position: absolute;
                display: flex;
                justify-content: space-between;
                bottom: -29px;
                left: 0px;
                z-index: 3;
            }
            .swiper-pagination-bullet {
                width: 351px;
                height: 5px;
                border-radius: 15px;
                background-color: gray;
                margin-right: 20px;
                // position: relative;
            }
    
        }
        // .swiper {
        //     width: 100%;
        //     height: 586px;
        //     border-radius: 20px;
        //     position: absolute;
        //     left: 481px;
        //     top: 262px;

        // }


        // .swiper-slide img {
        //     width: 1102px;
        //     height: 586px;
        //     display: block;
        //     object-fit: cover;




        // }

        // .swiper-pagination {
        //     width: 1200px;
        //     position: absolute;
        //     bottom: 90px;
        //     left: 440px;
        //     display: flex;
        //     justify-content: space-between;
        // }

        // .swiper-pagination-bullet {
        //     width: 351px;
        //     height: 5px;
        //     border-radius: 15px;
        //     background-color: gray;
        //     margin-right: 20px;


        // }


    }

    #cof-pic {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 113.65px;

        .cof-size {
            width: 33.3333%;
            height: 366.35px;
        }

        .cof-pic1 {
            background-image: url('/Images/rest-1.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        .cof-pic2 {
            background-image: url('/Images/latte-love.jpg');
            background-size: cover;
            background-position: 0 center;
            background-repeat: no-repeat;
        }

        .cof-pic3 {
            background-image: url('/Images/rest-3.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        .cof-pic4 {
            background-image: url('/Images/tea.jpg');
            background-size: cover;
            background-position: 0 center;
            background-repeat: no-repeat;
        }

        .cof-pic5 {
            background-image: url('/Images/cof-pic-5.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        .cof-pic6 {
            background-image: url('/Images/latte-green-tea.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }
    }

    #dessert {
        width: 100%;
        background-color: #F6DEC3;
        padding-top: 168px;
        display: flex;
        margin-bottom: 203px;
        padding-bottom: 169px;
        padding-left: 15%;

        .des-pic {
            // width:calc( 100% - 963px) ;
            width: 58%;
            height: 35vw;
            display: flex;  
            flex-wrap: wrap;
            // margin-left: 320px;
            gap: 20px;
            margin-right: 43px;
            align-content: center;
            

            img {
                width: calc(( 100% - 40px) / 3);
                // height: calc(( 100% - 70px) / 2);
                height: 45%;
                border-radius: 20px;
                box-shadow: 0.5px 0.5px 2.5px 0 #8a8787;
            }

            ;
        }

        .des-txt {
           
            width: 38%;
            margin-top: 5%;
            position: relative;

            .des-spn {
                font-size: 80px;
                font-family: 'Island Moments', cursive;
                padding-top: 15%;
                

            }

            p {
                font-size: 20px;
                font-family: 'Zen Maru Gothic', sans-serif;
                line-height: 35px;
                margin-left: 15px;
                padding-top: 12%;
                

            }
            .des-gif{
                position: absolute;
                top: 62%;
                right: 20%;

                img {
                    width: 51%;
                    margin-left: 147px;
                }
            }

        }


    }

    //修改這裡
    #ig-part {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 158.49px;

        .ig-name {
            font-size: 20px;
            font-family: 'Zen Maru Gothic', sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;
            a{
                text-decoration: none;
                color: #000;
                line-height: 20px;
            }
            img {
                width: 31px;
                height: 31px;
                margin-right: 15px;
            }
        }

        .ig-pic {
            width:calc( 100% - 376px );
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            
            a{
                width: calc((100% - 102px) / 6 );
                
                img{
                    width: 100%;
                    height: 79%;
                    border-radius: 20px;
                    box-shadow: 0.5px 0.5px 2.5px #8a8787;
                }
            }
            // img {
            //     width: calc((100% / 6) - 30px);
            //     height: calc((100% / 2) - 20px);
            //     border-radius: 20px;
            // }
        }
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 99px;

        .adres {
            height: 160px;
            padding-right: 53px;
            border-right: 1px solid #000;
            line-height: 35px;
            font-family: 'Zen Maru Gothic', sans-serif;

            h3 {
                margin-bottom: 20px;
            }
        }

        .aboutus {
            margin-left: 57px;
            height: 160px;
            font-family: 'Zen Maru Gothic', sans-serif;
            line-height: 35px;
            .icons{
                .icons-n{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .icons-n:hover{
                    font-weight: bold;
                    filter: drop-shadow(0.5px 1px 0.5px #8a8787);
                }
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
                .FB{
                    display: none;
                }
                .IG{
                    display: none;
                }
            }

            h3 {
                margin-bottom: 20px;
            }

            a {
                text-decoration: none;
                color: #000;
            }

        }
    }
}

footer {
    min-width: 100%;
    height: 80px;
    background-color: #6E786D;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 35px;
    font-family: 'Zen Maru Gothic', sans-serif;

    .logoTxt {
        width: 136px;
        height: 35px;
        margin-left: 30px;

        img {
            width: 100%;
        }
    }

    .maker {
        margin-right: 30px;
    }

}

@media (max-width:1200px){
    nav{
        
        a{
            font-size: 18px;
        }
        .bar-L{
            margin-right: 10px;
            gap:20px;
            line-height: 35px;
        }
        .bar-logo{
            .logo-back{
                width: 110px;
                height: 110px;
                a{
                    img{
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }
        .bar-R{
            margin-left: 10px;
            gap:20px;
            line-height: 35px;
        }
        .bar-hover:hover{
            line-height: 35px;
        }
    }
    main{
        #cof{
            .cof-spn{
                right: 59%;
                top: 17%;
                font-size: 80px;
            }
            .cof-p{
                right: 75%;
            }
            .swiper-box{
                right: -28%;
            }
        }

        #dessert {
            padding-left: 5%;  
            .des-txt {
                width: 43%;
                .des-spn {
                    font-size: 60px;
                }
                p {
                    font-size: 16px;
                }
                .des-gif{
                    top: 55%;
                }
            }
        }
    }

}
@media (max-width:768px){
    nav{
        a{
            font-size: 15px;
            padding: 0 8px;
        }
        .bar-L{
           margin-right: 10px;
           gap: 10px;
           line-height: 38px;
        }
        .bar-logo{
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            width: 89.72px;
            height: 89.72px;
            .logo-back{
                width: 90px;    
                height: 90px;
                img{
                    width: 84.44px;
                    height: 84.44px;
                }   
            }
        }
        .bar-R{
            margin-left: 10px;
            gap: 10px;
            line-height: 38px;
        }
        .bar-hover:hover{
            height: 30px;
            padding: 0 8px;
            line-height: 30px;
        }
        
    }
    main{
        #banner{
            .slideshow-container{
                height: 387.25px;
                .mySlides{
                    height: 100%;
                }
              
               
                .prev,.next{
                    display: block;
                    font-size: 35px;
                    font-weight: normal;
                    
                }
            }
            .dots{
                display: none;
            }
        }
        #about{
            height: 637px;
            .about-logo{
                padding-top: 32px;
                margin-bottom: 26px;
                img{
                    width: 131px;
                    height: 131px;
                }
            }
            .about-text{
                font-size: 15px;
                line-height: 28px;
                .text-1{
                    margin-bottom: 28px;
                }
                .text-2{
                    margin-bottom: 28px;
                }
                .text-3{
                    margin-bottom: 28px;
                }
                .textgp{
                    margin: 0;
                }
            }
        }
        //修改這裡
        #cof{
            height: 520px;
            min-width: 1px;
            padding-bottom: 252px;
            margin-bottom: 55px;
            .cof-spn{
                top: 9%;
                left: 12%;
                font-size: 70px;
                z-index: 2;
                line-height: 80.5px;
            }
            .cof-p{
                top: 38%;
                left:14%;
                font-size: 15px;
                line-height: 21.72px;
                gap: 5px;
                .cof-gi{
                    .cof-p1{
                        width: 50px;
                    }
                }
            }
            //修改trans
            .swiper-box{
                width: 68%;
                height: 268px;
                transform: translate(165px,145px);
                .swiper{
                    width: 100%;
                    top: 0;
                    left: 0;
                    .swiper-wrapper{
                        .swiper-slide{
                            img{
                                border-radius: 20px;
                                width: 100%;
                                height: 268px;
                            }
                        }
                    }
                }
                .swiper-pagination{
                    width: 100%;
                    bottom:-20px;
                    left: 0%;
                }
            }
            // .swiper{
            //     width: 100%;
            //     top: 177px;
            //     left: 136px;
            //     .swiper-wrapper{
            //         .swiper-slide{
            //             img{
            //                 border-radius: 20px;
            //                 width: 67%;
            //                 height: 268px;
            //             }
            //         }
            //     }
            // }
            // .swiper-pagination{
            //     width: 68%;
            //     top: 48%;
            //     left: 19%;
            // }
        }
        #cof-pic{
            margin-bottom: 55.18px;
            .cof-size{
                height: 147.85px;
            }
        }
        #dessert{
            margin-bottom: 73px;
            padding-top: 91px;
            padding-left: 111px;
            height: 500px;
            .des-pic{
                
                gap:17px;
                margin-left: 0px;
                margin-right: 21px;
                .none{
                    display: none;
                }
                img{
                    width: 143.77px;
                    // width: 50%;
                    height: 143.77px;
                }
            }
            .des-txt{padding-top: 17px;
                P{
                    font-size: 15px;
                    line-height: 28px;
                }
                .des-spn{
                    font-size: 60px;
                    line-height: 69px;
                }
                .des-gif{
                    img{
                        width: 151px;
                        height: 134px;
                    }
                    
                }
            }
        }
        #ig-part{
            margin-bottom: 80.28px;
            .ig-name{
               
                img{
                    width: 31px;
                    height: 31px;
                }
                span{
                    font-size: 20px;
                    line-height: 35px;
                }
            }
            .ig-pic{
                width: 535.36px;
                height: 351px;
                gap: 13px;
                a{
                    img{
                        width: 168px;
                        height: 168px;
                    }
                }
            }
        }
        #contact{
            margin-bottom: 106px;
            .adres{
                h3{
    
                }
                p{
                    font-size: 15px;
                }
            }
            .aboutus{
                h3{
                  
                }
                a{
                    font-size: 20px;
                }

            }
        }

    }
    .none{
        display: none;
    }  
}

@media (max-width:375px){
    #bar{
        i{
            display: flex;
        }
    }
    .backTop{
        display: none;
        bottom: 100px;
        right: 10px;
        a{
         
          
        }
    }
    nav{
        display: none;
    }
    main{
        #banner{
            .slideshow-container{
                height: 189.48px;
            }
        }
        #about{
            height: 478px;
            .about-logo{
                padding-top: 48px;
                margin-bottom: 22px;
                img{
                    width: 73px;
                    height: 73px;
                }
            }
            .about-text{
                font-size: 12px;
                line-height: 20px;
                .text-1{
                    margin-bottom: 20px;
                }
                .text-2{
                    margin-bottom: 20px;
                }
                .text-3{
                    margin-bottom: 20px;
                }
                .textgp{
                    padding-bottom: 35px;
                }
               
            }
        }
        #cof{
            width: 100%;
            height: 532px;
            padding-top: 34px;
            position: relative;
            margin-bottom: 42px;
            .cof-spn{
                width: 100%;
                font-size: 35px;
                line-height: 40.25px;
                position: static;
                text-align: center;
                display: inline-block;
                margin-bottom: 7px;
            }
            .cof-p{
                font-size: 12px;
                line-height: 13.78px;
                padding-top: 35px;
                flex-direction: column-reverse;
                .cof-gi{
                    display: flex;
                    p{
                        font-size: 12px;
                        line-height: 17.38px;
                        letter-spacing: 7px;
                    }
                    img{
                        width: 80px;
                        height: 71.3px;
                        position: absolute;
                        bottom: -6px;
                    }
                    .cof-p1{
                        display: flex;
                        flex-direction:column ;
                        margin-right: 24px;
                    }
                    p{
                    
                    }
                }
                .cof-img{
                    display: flex;
                    gap:20px;
                    img{
                        width: 185px;
                        height: 107px;
                        border-radius: 10px;
                    }
                }
            }
            .swiper-box{
                width: 80%;
                height: 135.6px;
                transform: translate(60px, 0px);
                .swiper{
                    .swiper-wrapper{
                        .swiper-slide{
                            img{
                                width: 255px;
                                height: 135.6px;
                            };
                        }
                    }
                }
            }
        }
       
        #ig-part{
            margin-bottom: 47.82px;
            
            .ig-name{
                span{
                    font-size: 12px;

                }
                img{
                    width: 18px;
                    height: 18px;
                }
            }
            .ig-pic{
                width: 100%;
                height: 270px;
                gap:15px;
                justify-content: center;
                align-items: center;
                a{
                    text-decoration: none;
                    width: calc(50% - 65px) ;
                    height: calc(66% - 56px)  ;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                  
                }
            }
        }
        #contact{
            width: 90%;
            flex-direction: column;
            margin-bottom: 65px;
            min-height: 1px;
            padding-left: 60px;
            .adres{
                width: 100%;
                border: none;
                padding: 0;
                h3{
                    font-size: 15px;
                    margin-bottom: 10px;
                    p{
                        font-size: 12px;
                    }
                }
            }
            .aboutus{
                width: 100%;
                height: 80px;
                display: flex;
                flex-direction: column;
                margin: 0;
                a{
                    display: inline-block;
                    
                }
                .icons{
                    display: flex;
                    gap: 15px;
                    width: 100%;
                    
                    .FB{
                        display: block ;
                        img{
                            width: 25px;
                            height: 25px;
                        }
                    }
                    .IG{
                        display: block;
                        img{
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
                h3{
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .none-375{
        display: none !important;
    }
    footer{
        flex-direction: column;
        height: 100px;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 16px;
        line-height: 20px;
        .logoTxt{
            width: 97px;
            height: 24px;
            font-size: 12px;
            margin: 0;
        }
        .maker{
            span{
                padding-bottom: 16px;
            }
        }
      
    }
    
    
}