* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior:smooth
}
body{
   
}
// <<<<<<< HEAD

$dark-green: #243628;
$green: #ecf2ee;
$grey: rgba(19, 21, 19, 0.31);

$mix-white: #f9f9f9;
$title-color: #6c6666;
$text-color: #1c291c;
$text-white: #e2dcdc;
$line-color: #777777;
$red: #d82121;

$color: #F3F3F3;
$stroke-width: 5px;
$size: 136px;

.loading{
    position: fixed;
    inset: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c1b2e;
    z-index: 11;
    transform: scale(1);
    opacity: 1;
    transition: transform .5s, opacity 1s;
    &.end{
      transform: scale(1.6);
      opacity: 0;
    }
    
      .container{
          position: relative;
          width: 200px;
          height: 200px;
  
  
          background: black url("../Images/rest-6.jpg") no-repeat fixed center;
          background-size: cover;
          width: 100vw;
          height: 100vh;
          display: flex;
          align-items: center;
  
          .logo{
              width: 100%;
              display: flex;
              font-size: 120px;
              color: white;
              justify-content: center;
              align-items: center;
              padding: 25px;
              background: rgba(110, 120, 109, 0.5);
              position: relative;
          }
  
          text{
              stroke-width: $stroke-width;
              stroke-dasharray: 900;
              stroke-dashoffset: -900;
              animation: text 6s forwards 1;
              animation-delay: 1s;
             }
  
          .underline{
              stroke-dasharray: 900;
              stroke-dashoffset: 900;
              animation: underline 4s forwards 1;
              animation-delay: 5s;
            }
  
  
          @keyframes text {
              75% {
               fill: transparent;
               stroke-dashoffset: 0;
               stroke-width: $stroke-width;
              }
              100% {
               fill: $color;
               stroke-dashoffset: 0;
               stroke-width: 0;
              }
             }
             
          @keyframes underline {
              75% {
               stroke-dashoffset: 0;
              }
              100% {
               stroke-dashoffset: 0;
              }
             }
        
  
      }
      
}



.whiteback{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0.5;
    position: fixed;
    z-index: 1;
    display: none;
}

.dog1{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 99;
}
#bar{
    display: flex;    
    
    i{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
        background-color:#6E786D;
        cursor: pointer;
        position: fixed;
        top: 11px;
        left: 12px;
        z-index: 14;
        display: none;
        transition: 1s ease;
    }
    .bar-menu{
        width: 260px;
        height: 350px;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Zen Maru Gothic', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        color: #F6DEC3;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:#6E786D;
        border-radius: 10px;
        z-index: 1;
        display: none;
        
        a{
            text-decoration: none;
            color:#F6DEC3;
        }
    }
}
.active{
    display: flex !important;
    transition: 1s ease;    
}
.ovhd{
    overflow: hidden;
    z-index:99 ;
}
.backTop{
    border: 1px solid #424242;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    right: 40px;
    bottom: 30px;
    cursor: pointer;
    a{
        text-decoration: none;
        color: #424242;
        svg{
            display: flex;
            justify-content: center;
        }
    }
}

//修改陰影
nav {
    width: 100%;
    height: 55px;
    background-color: #6E786D;
    display: flex;
    justify-content: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    position: fixed;
    opacity: 0;
    transition: 1s;
    z-index: 6;
    box-shadow:0px 0.5px 3px 0px #565454;
    

    .bar-L {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 30px;
        margin-right: 40px;

    }

    .bar-logo {
        position: relative;
        width: 110px;
        height: 110px;
        padding-top: 15px;
        
        //修改陰影
        .logo-back {
            width: 125px;
            height: 125px;
            background-color: #6E786D;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow:0px 1.5px 2px 0px #565454;
            a{
                width: 110px;
                height: 110px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                }
            }

        }

    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        height: 35px;
        border-radius: 20px;
        text-align: center;
        padding: 0 10px;
    }

    .bar-R {
        height: 100%;
        margin-left: 40px;
        display: flex;
        align-items: center;
        gap: 30px;
        // line-height: 30px;
    }
}
nav .bar-hover:hover{
    color: #424242;
    height: 35px;
    border-radius: 20px;
    background-color: #F6DEC3;
    text-align: center;
    line-height: 32px;
    padding: 0 10px;
  }

nav:hover{
    opacity: 1;
}
.block {
    opacity: 1;
    z-index: 8;
}


main {
    min-width: 100%;
    #banner {
        width: 100%;
        .main-banner{
            .slider-for{
                margin: 0;
                .ban{
                    width: 100%;
                    height: 961px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size:cover;
                }
                .ban1{
                    background-image: url(../Images/rest-1.jpg);
                }
                .ban2{
                    background-image: url(../Images/rest-2.jpg);
                }
                .ban3{
                    background-image: url(../Images/rest-3.jpg);
                }
                .ban4{
                    background-image: url(../Images/rest-4.jpg);
                }
                .ban5{
                    background-image: url(../Images/rest-5.jpg);
                }
                .ban6{
                    background-image: url(../Images/rest-1.jpg);
                }
                .ban7{
                    background-image: url(../Images/rest-2.jpg);
                }
                .ban8{
                    background-image: url(../Images/rest-3.jpg);
                }
                .ban9{
                    background-image: url(../Images/rest-4.jpg);
                }
                .ban10{
                    background-image: url(../Images/rest-5.jpg);
                }
            }
            // .slick-dots{
            //     display: none !important;
            // }
            .slider-nav{
                width: 300px;
                height: 200px;
                position: absolute;
                top: 40%;
                right: 0%;
                transform: rotate(90deg) !important;
               
                .btn{
                    height: 30px;
                    display: flex;
                    // flex-flow: column;
                    align-items: center;
                    position: relative;
                    top: 0px;
                    margin-bottom: 37px;

                    &::before {
                        content: '';
                        width: 2px;
                        height: calc(100% + 20px);
                        background: #fff;
                        position: absolute;
                        top: -49px;
                        left: 50%;
                    }


                    &::after {
                        content: '';
                        cursor: pointer;
                        height: 15px;
                        width: 15px;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        display: inline-block;
                        transition: background-color 0.6s ease;
                        position: absolute;
                        bottom: 12px;
                    }


                    &:hover::after {
                        background-color:#F6DEC3;
                        transform: scale(1.1);
                        transition: all 0.5s;

                    }

                    &.active::after {
                        background-color:#6E786D;
                    }
                }
                // .btn{
                //     width: 50px;
                //     height: 50px;
                //     margin: 10px;
                //     background-color: rgb(36, 109, 27);
                //     border-radius: 50%;
                //     display: flex !important;
                //     justify-content: center;
                //     align-items: center;
                // }
                .btn span{
                    transform: rotate(-90deg);
                    color: #fff;
                    font-size: 30px;
                }
            }
        }








        .mySwiper-ban{
            .ban1,
            .ban2,
            .ban3,
            .ban4,
            .ban5
             {
                width: 100%;
                height: 961px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                
            }

            .ban1 {
                background-image: url('/Images/rest-1.jpg');
            }

            .ban2 {
                background-image: url('/Images/cof-pic-5.jpg');
            }

            .ban3 {
                background-image: url('/Images/rest-3.jpg');
            }

            .ban4 {
                background-image: url('/Images/rest-4.jpg');
            }

            .ban5 {
                background-image: url('/Images/rest-5.jpg');
            }
            .swiper-pagination-ban{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 50px;
                height: 100px;
                position: absolute;
                top: 500px;
                left: 98%;
                z-index: 12;
                
            }
            .swiper-button-next,
             .swiper-button-prev {
                 color: white;
                 display: none;
             }
            .fade{
                animation-name: fade;
                animation-duration: 1.5s;
            }


            @keyframes fade {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }

            img {
                height: 961px;
            }
        }  
        .dots{
            width: 100px;
            height: 285px;
            position: absolute;
            // background-color: wheat;
            top: 50%;
            transform: translate(0, -50%);
            right: 0px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            opacity: 0.7;
            z-index: 13;

            &:hover {
                opacity: 1;
            }

            .dots-move {
                width: 100%;
                position: absolute;
                top: 0px;
                display: flex;
                flex-flow: column;

                /* The dots/bullets/indicators */
                .btn{
                    height: 30px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    position: relative;
                    top: 0px;
                    margin-bottom: 37px;

                    &::before {
                        content: '';
                        width: 2px;
                        height: calc(100% + 20px);
                        background: #fff;
                        position: absolute;
                        top: -49px;
                        left: 50%;
                    }


                    &::after {
                        content: '';
                        cursor: pointer;
                        height: 15px;
                        width: 15px;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        display: inline-block;
                        transition: background-color 0.6s ease;
                        position: absolute;
                        bottom: 12px;
                    }


                    &:hover::after {
                        background-color:#F6DEC3;
                        transform: scale(1.1);
                        transition: all 0.5s;

                    }

                    &.active::after {
                        background-color:#6E786D;
                    }
                }
            }
        }
    }

    #about {
        height: 961px;
        color: #fff;
        background-color: #6E786D;
        overflow: hidden;

        .about-logo {
            padding-top: 85px;
            margin-bottom: 41px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            img {
                width: 240px;
                height: 240px;
                border-radius: 50%;
                box-shadow:0px 1px 5px 0px #565454

            }
        }

        .about-text {
            text-align: center;
            font-size: 20px;
            line-height: 35px;
            font-family: 'Zen Maru Gothic', sans-serif;
            .text-1{
                margin-bottom: 35px;
            }
            .text-2{
                margin-bottom: 35px;
            }
            .text-3{
                margin-bottom: 35px;
            }
            .textgp {
                
            }


        }
    }

    #cof {
        height: 962px;
        min-height: 1px;
        background-color: #F6DEC3;
        position: relative;
        margin-bottom: 113px;
        padding-bottom: 393px;

        .cof-spn {
            width: 308px;
            font-size: 96px;
            font-family: 'Island Moments', cursive;
            position: absolute;
            right: 65%;
            top: 14%;
        }

        .cof-p {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            writing-mode: vertical-rl;
            font-family: 'Zen Maru Gothic', sans-serif;
            gap: 28px;
            position: absolute;
            top: 37%;
            right: 74%;
            .cof-img{
                display: none;
            }

            //修改這邊
            // .cof-gi{
            //     display: none;
            // }
            .cof-gi{
                .cof-p1{
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    width: 85px;
                    justify-content: space-around;
                    p {
                        letter-spacing: 10px;
                    }
                }
                img{
                    display: none;
                }
            }

        }
//修改 transform
        .swiper-box{
            width: 58%;
            position: relative;
           right: -29%;
           top: 43%;
            .swiper {
                width: 100%;
                height: 586px;
                border-radius: 20px;
                // position: absolute;
                // top: 262px;
                // left: 481px;
                .swiper-wrapper{
                    .pic1{
                        background-image: url('/Images/去暗角.png');
                        background-position: 0% center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        
                    }
                    .pic2{
                        background-image: url('/Images/chair.jpg');
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .pic3{
                        background-image: url('/Images/coffepowder.jpg');
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                
                }
            }
            .swiper-pagination {
                width: 100%;
                // position: absolute;
                display: flex;
                justify-content: space-between;
                bottom: -29px;
                left: 0px;
                z-index: 3;
            }
            .swiper-pagination-bullet {
                width: 351px;
                height: 5px;
                border-radius: 15px;
                background-color: gray;
                margin-right: 20px;
                // position: relative;
            }
    
        }
    }

    #cof-pic {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 113.65px;
        overflow: hidden;
        background-color: #6E786D;
        a{
            width: 33.3333%;
        }
        .cof-size {
            width: 100%;
            height: 366.35px;
        }

        .cof-pic1 {
            background-image: url('/Images/rest-1.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        .cof-pic2 {
            background-image: url('/Images/latte-love.jpg');
            background-size: cover;
            background-position: 0 center;
            background-repeat: no-repeat;
        }

        .cof-pic3 {
            background-image: url('/Images/rest-3.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        .cof-pic4 {
            background-image: url('/Images/tea.jpg');
            background-size: cover;
            background-position: 0 center;
            background-repeat: no-repeat;
        }

        .cof-pic5 {
            background-image: url('/Images/cof-pic-5.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        .cof-pic6 {
            background-image: url('/Images/latte-green-tea.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }
        .cof-pictu{
            opacity: 0.6;
        }
        .cof-pictu:hover{
            opacity: 1;
        }
    }

    #dessert {
        width: 100%;
        background-color: #F6DEC3;
        padding-top: 168px;
        display: flex;
        margin-bottom: 203px;
        padding-bottom: 169px;
        padding-left: 15%;

        .des-pic {
            // width:calc( 100% - 963px) ;
            width: 58%;
            height: 35vw;
            display: flex;  
            flex-wrap: wrap;
            // margin-left: 320px;
            gap: 20px;
            margin-right: 43px;
            align-content: center;
            
            

            // img {
            //     width: calc(( 100% - 40px) / 3);
            //     // height: calc(( 100% - 70px) / 2);
            //     height: 45%;
            //     border-radius: 20px;
            //     box-shadow: 0.5px 0.5px 2.5px 0 #8a8787;
            // }

            .cake{
                width: calc(( 100% - 40px) / 3);
                height: 45%;
                border-radius: 20px;
                box-shadow: 0.5px 0.5px 2.5px 0 #8a8787;
                overflow: hidden;
                transition: all 1s;
                position: relative;
                

            }
             // .cake1::before{
            //     content: "";
            //     white-space:pre;
            //     width: 400px;
            //     height: 600px;
            //     background-color: #5dccd4;
            //     background-image: url(../Images/freepik/strawberry_cake-1.jpg);
            //     background-position-x: 100%;
            //     background-position-y: 0%;
            //     background-size: cover;
            //     background-repeat: no-repeat;
            //     position: absolute;
            //     transform: translate(0%,0);
            //     transition: all 1s;

            // }

            // .cake1:focus:after{
            //     content: "草莓蛋糕草莓蛋糕\A草莓蛋糕草莓蛋糕";
            //     white-space:pre;
            //     text-align: right;
            //     font-size: 24px;
            //     width: 600px;
            //     height: 500px;
            //     background-color: #5dccd4;
            //     background-image: url(../Images/freepik/strawberry_cake-1.jpg);
            //     background-position-x: 0%;
            //     background-position-y: 0%;
            //     background-size: 60%;
            //     background-repeat: no-repeat;
            //     position: absolute;
            //     z-index: 16;
            // }
            // .cake2:focus:after{
            //     content: "草莓蛋糕草莓蛋糕\A草莓蛋糕草莓蛋糕";
            //     white-space:pre;
            //     text-align: right;
            //     font-size: 24px;
            //     width: 600px;
            //     height: 500px;
            //     background-color: #5dccd4;
            //     background-image: url(../Images/freepik/strawberry_cake-2.jpg);
            //     background-position-x: 0%;
            //     background-position-y: 0%;
            //     background-size: 60%;
            //     background-repeat: no-repeat;
            //     position: absolute;
            //     z-index: 16;
            // }


            .cake::before{
                content: '';
                width: 100%;
                height: 100%;
                background-color: #6e786d;
                opacity: 0;
                position: absolute;
                top: 0%;
                left: 0%;
                transition: all 2s;

                clip-path: polygon(0% 0%, 0% 100%, 48% 100%, 0 49%, 50% 0, 100% 48%, 49% 100%, 79% 100%, 100% 100%, 100% 0%);
                // transform: rotate(-90deg);
                transform: scale(2,2);

                
            }
            .cake:hover::before{
                content: '';
                color: #F6DEC3;
                font-size: 40px;
                text-align: center;

                width: 100%;
                height: 100%;
                background-color: #6e786d;
                opacity: 0.9;
                position: absolute;
                top: 0%;
                left: 0%;
                clip-path: polygon(0% 0%, 0% 100%, 48% 100%, 0 49%, 50% 0, 100% 48%, 49% 100%, 79% 100%, 100% 100%, 100% 0%);
                // transform: rotate(0deg);

                transform: scale(1,1);

            }

            .cake::after{
                content: '';
                color: #F6DEC3;
                text-shadow: 1px 1px 2px black;
                font-size: 0px;
                text-align: center;
                padding-top: 40%;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0%;
                left: 0%;
                transition: all 1s;
                
            }
            .cake:hover::after{
                content: '';
                color: #F6DEC3;
                text-shadow: 1px 1px 2px black;
                font-size: 40px;
                text-align: center;
                padding-top: 40%;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0%;
                left: 0%;
            }
            .cake1:hover::after{
                content: '草莓蛋糕';
            }
            .cake2:hover::after{
                content: '草莓三明治';
            }
            .cake3:hover::after{
                content: '草莓麵包';
            }
            .cake4:hover::after{
                content: '草莓奶油';
            }
            .cake5:hover::after{
                content: '草莓可頌';
            }
            .cake6:hover::after{
                content: '草莓慕斯';
            }

            img{
                width: 100%;
                height: 100%;
            }

        }

        .des-txt {
           
            width: 38%;
            margin-top: 5%;
            position: relative;

            .des-spn {
                font-size: 80px;
                font-family: 'Island Moments', cursive;
                padding-top: 15%;
                

            }

            p {
                font-size: 20px;
                font-family: 'Zen Maru Gothic', sans-serif;
                line-height: 35px;
                margin-left: 15px;
                padding-top: 12%;
                

            }
            .des-gif{
                position: absolute;
                top: 62%;
                right: 20%;

                img {
                    width: 51%;
                    margin-left: 147px;
                }
            }

        }


    }

    //修改這裡
    #ig-part {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 158.49px;

        .ig-name {
            font-size: 20px;
            font-family: 'Zen Maru Gothic', sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;
            a{
                text-decoration: none;
                color: #000;
                line-height: 20px;
            }
            img {
                width: 31px;
                height: 31px;
                margin-right: 15px;
            }
        }

        .ig-pic {
            width:calc( 100% - 376px );
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            
            a{
                width: calc((100% - 102px) / 6 );
                
                img{
                    width: 100%;
                    height: 79%;
                    border-radius: 20px;
                    box-shadow: 0.5px 0.5px 2.5px #8a8787;
                }
            }
            // img {
            //     width: calc((100% / 6) - 30px);
            //     height: calc((100% / 2) - 20px);
            //     border-radius: 20px;
            // }
        }
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 99px;

        .adres {
            height: 160px;
            padding-right: 53px;
            border-right: 1px solid #000;
            line-height: 35px;
            font-family: 'Zen Maru Gothic', sans-serif;

            h3 {
                margin-bottom: 20px;
            }
        }

        .aboutus {
            margin-left: 57px;
            height: 160px;
            font-family: 'Zen Maru Gothic', sans-serif;
            line-height: 35px;
            .icons{
                .icons-n{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .icons-n:hover{
                    font-weight: bold;
                    filter: drop-shadow(0.5px 1px 0.5px #8a8787);
                }
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
                .FB{
                    display: none;
                }
                .IG{
                    display: none;
                }
            }

            h3 {
                margin-bottom: 20px;
            }

            a {
                text-decoration: none;
                color: #000;
            }

        }
    }
}

footer {
    min-width: 100%;
    height: 80px;
    background-color: #6E786D;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 35px;
    font-family: 'Zen Maru Gothic', sans-serif;

    .logoTxt {
        width: 136px;
        height: 35px;
        margin-left: 30px;

        img {
            width: 100%;
        }
    }

    .maker {
        margin-right: 30px;
    }

}

@media (max-width:1200px){
    nav{
        
        a{
            font-size: 18px;
        }
        .bar-L{
            margin-right: 10px;
            gap:10px;
            line-height: 35px;
        }
        .bar-logo{
            .logo-back{
                width: 110px;
                height: 110px;
                a{
                    img{
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }
        .bar-R{
            margin-left: 10px;
            gap:10px;
            line-height: 35px;
        }
        .bar-hover:hover{
            line-height: 35px;
        }
    }
    main{
        #cof{
            .cof-spn{
                right: 59%;
                top: 17%;
                font-size: 80px;
            }
            .cof-p{
                right: 75%;
            }
            .swiper-box{
                right: -28%;
            }
        }

        #dessert {
            padding-left: 5%;  
            .des-txt {
                width: 43%;
                .des-spn {
                    font-size: 60px;
                }
                p {
                    font-size: 16px;
                }
                .des-gif{
                    top: 55%;
                }
            }
        }
        #ig-part{
            .ig-pic{
                width: calc( 100% - 87px);
            }
        }
    }

}
@media (max-width:768px){
    nav{
        a{
            font-size: 15px;
            padding: 0 8px;
        }
        .bar-L{
           margin-right: 10px;
           gap: 10px;
           line-height: 38px;
        }
        .bar-logo{
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            width: 89.72px;
            height: 89.72px;
            .logo-back{
                width: 90px;    
                height: 90px;
                img{
                    width: 84.44px;
                    height: 84.44px;
                }   
            }
        }
        .bar-R{
            margin-left: 10px;
            gap: 10px;
            line-height: 38px;
        }
        .bar-hover:hover{
            height: 30px;
            padding: 0 8px;
            line-height: 30px;
        }
        
    }
    main{
        #banner{
            .mySwiper-ban{
                .ban1,
                .ban2,
                .ban3,
                .ban4,
                .ban5,
                .ban6 {
                    height: 387.25px;
                }
                .swiper-button-next,
            .swiper-button-prev {
                display: block;
            }
            }

            

            .slideshow-container{
                height: 387.25px;
                .mySlides{
                    height: 100%;
                }
              
               
                .prev,.next{
                    display: block;
                    font-size: 35px;
                    font-weight: normal;
                    
                }
            }
            .dots{
                display: none;
            }
        }
        #about{
            height: 637px;
            .about-logo{
                padding-top: 32px;
                margin-bottom: 26px;
                img{
                    width: 131px;
                    height: 131px;
                }
            }
            .about-text{
                font-size: 15px;
                line-height: 28px;
                .text-1{
                    margin-bottom: 28px;
                }
                .text-2{
                    margin-bottom: 28px;
                }
                .text-3{
                    margin-bottom: 28px;
                }
                .textgp{
                    margin: 0;
                }
            }
        }
        //修改這裡
        #cof{
            height: 520px;
            min-width: 1px;
            padding-bottom: 252px;
            margin-bottom: 55px;
            .cof-spn{
                top: 9%;
                left: 11%;
                font-size: 70px;
                z-index: 2;
                line-height: 80.5px;
            }
            .cof-p{
                top: 38%;
                right: 80%;
                font-size: 15px;
                line-height: 21.72px;
                gap: 5px;
                .cof-gi{
                    .cof-p1{
                        width: 50px;
                    }
                }
            }
            //修改trans
            .swiper-box{
                width: 68%;
                right: -22%;
                .swiper{
                    width: 100%;
                    top: 0;
                    left: 0;
                    .swiper-wrapper{
                        height: 60%;
                        .swiper-slide{
                            img{
                                border-radius: 20px;
                                width: 100%;
                                height: 268px;
                            }
                        }
                    }
                }
                .swiper-pagination{
                    width: 100%;
                    bottom:220px;
                    left: 0%;
                }
            }
            // .swiper{
            //     width: 100%;
            //     top: 177px;
            //     left: 136px;
            //     .swiper-wrapper{
            //         .swiper-slide{
            //             img{
            //                 border-radius: 20px;
            //                 width: 67%;
            //                 height: 268px;
            //             }
            //         }
            //     }
            // }
            // .swiper-pagination{
            //     width: 68%;
            //     top: 48%;
            //     left: 19%;
            // }
        }
        #cof-pic{
            margin-bottom: 55.18px;
            .cof-size{
                height: 147.85px;
            }
        }
        #dessert{
            margin-bottom: 73px;
            padding: 0;
            height: 500px;           
            position: relative;
            overflow: hidden;
            .des-pic{
                width: 42.5%;
                gap:17px;
                margin: 0 auto;
                position: absolute;
                top: 19%;
                right: 48%;
                .none{
                    display: none;
                }
                img{
                    width: 45%;
                    height: 53%;
                }
            }
            .des-txt{
                padding-top: 17px;
                position: absolute;
                top: 9%;
                right: 5%;
                P{
                    font-size: 15px;
                    line-height: 28px;
                }
                .des-spn{
                    font-size: 60px;
                    line-height: 69px;
                }
                .des-gif{
                    top: 66%;
                    right: 7%;
                    img{
                    
                    }
                    
                }
            }
        }
        #ig-part{
            margin-bottom: 80.28px;
            .ig-name{
               
                img{
                    width: 31px;
                    height: 31px;
                }
                span{
                    font-size: 20px;
                    line-height: 35px;
                }
            }
            .ig-pic{
                width: 80%;
                height: 50vw;
                gap: 15px;
                a{
                    width: 28%;
                    height: 44%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        #contact{
            margin-bottom: 106px;
            .adres{
                h3{
    
                }
                p{
                    font-size: 15px;
                }
            }
            .aboutus{
                h3{
                  
                }
                a{
                    font-size: 20px;
                }

            }
        }

    }
    .none{
        display: none;
    }  
    .none-768{
        display: none !important;
    }
}
@media (max-width:640px) {
    #bar{
        i{
            display: flex;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            font-size: 35px;
           
            &:active{
                
                transform: translate(1px, 1px);
                transition: 0.1s ease;
            }
        }
    }
    .backTop{
        display: none;
        bottom: 100px;
        right: 10px;
        a{
         
          
        }
    }
    nav{
        display: none;
    }
    main{
        #dessert{
            .des-pic{
                top: 21%;
            }
            .des-txt{
                right: 5%;
                top: 10%;
                p{
                    margin-left: 8px;
                }
                .des-spn{
                    font-size: 40px;
                    line-height: 55px;
                }
                .des-gif{
                    right: 5%;
                    img{
                        margin-left: 130px;
                    }
                }
            }
        }
    }
    footer{
        flex-direction: column;
        height: 100px;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 16px;
        line-height: 20px;
        .logoTxt{
            width: 97px;
            height: 24px;
            font-size: 12px;
            margin: 0;
        }
        .maker{
            span{
                padding-bottom: 16px;
            }
        }
    }
    
}
@media (max-width:430px){
    #bar{
        i{
            width: 40px;
            height: 40px;
            font-size: 25px;
        }
    }
    
    main{
        #banner{
            .mySwiper-ban{
                .ban1,
                .ban2,
                .ban3,
                .ban4,
                .ban5,
                .ban6 {
                    height: 189.48px;
                }
            }
            .slideshow-container{
                height: 189.48px;
            }
        }
        #about{
            height: 478px;
            .about-logo{
                padding-top: 48px;
                margin-bottom: 22px;
                img{
                    width: 73px;
                    height: 73px;
                }
            }
            .about-text{
                font-size: 12px;
                line-height: 20px;
                .text-1{
                    margin-bottom: 20px;
                }
                .text-2{
                    margin-bottom: 20px;
                }
                .text-3{
                    margin-bottom: 20px;
                }
                .textgp{
                    padding-bottom: 35px;
                }
               
            }
        }
        #cof{
            width: 100%;
            height: 532px;
            padding-top: 34px;
            position: relative;
            margin-bottom: 42px;
            .cof-spn{
                width: 100%;
                font-size: 35px;
                line-height: 40.25px;
                position: static;
                text-align: center;
                display: inline-block;
                margin-bottom: 7px;
            }
            .cof-p{
                font-size: 12px;
                line-height: 13.78px;
                padding-top: 35px;
                flex-direction: column-reverse;
                right: 17%;
                .cof-gi{
                    display: flex;
                    p{
                        font-size: 12px;
                        line-height: 17.38px;
                        letter-spacing: 7px;
                    }
                    img{
                        width: 80px;
                        height: 71.3px;
                        position: absolute;
                        bottom: -6px;
                        display: block;
                        left: 5px;
                    }
                    .cof-p1{
                        display: flex;
                        flex-direction:column ;
                        margin-right: 20px;
                        padding-top: 0;
                    }
                    p{
                    
                    }
                }
                .cof-img{
                    display: flex;
                    gap:20px;
                    img{
                        width: 185px;
                        height: 107px;
                        border-radius: 10px;
                    }
                }
            }
            .swiper-box{
                width: 71%;
                height: 135.6px;
                top: 0%;
                right: -12%;
            
                .swiper{
                    z-index: 0;
                    .swiper-wrapper{
                        height: 23%;
                        .swiper-slide{
                            border-radius: 15px;
                            img{
                                width: 255px;
                                height: 135.6px;
                            };
                        }
                    }
                }
            }
        }
       
        #ig-part{
            margin-bottom: 47.82px;
            
            .ig-name{
                span{
                    font-size: 12px;

                }
                img{
                    width: 18px;
                    height: 18px;
                }
            }
            .ig-pic{
                width: 100%;
                height: 270px;
                gap:15px;
                justify-content: center;
                align-items: center;
                a{
                    text-decoration: none;
                    width: calc(50% - 65px) ;
                    height: calc(66% - 56px)  ;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                  
                }
            }
        }
        #contact{
            width: 90%;
            flex-direction: column;
            margin-bottom: 65px;
            min-height: 1px;
            padding-left: 60px;
            .adres{
                width: 100%;
                border: none;
                padding: 0;
                h3{
                    font-size: 15px;
                    margin-bottom: 10px;
                    p{
                        font-size: 12px;
                    }
                }
            }
            .aboutus{
                width: 100%;
                height: 80px;
                display: flex;
                flex-direction: column;
                margin: 0;
                a{
                    display: inline-block;
                    
                }
                .icons{
                    display: flex;
                    gap: 15px;
                    width: 100%;
                    
                    .FB{
                        display: block ;
                        img{
                            width: 25px;
                            height: 25px;
                        }
                    }
                    .IG{
                        display: block;
                        img{
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
                h3{
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .none-375{
        display: none !important;
    }
    footer{
        
      
    }
    
    
}