* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// <<<<<<< HEAD


nav {
    width: 100%;
    height: 55px;
    background-color: #6E786D;
    display: flex;
    justify-content: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    position: fixed;
    opacity: 0;
    transition: 1s;
    z-index: 1;


    .bar-L {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 45px;
        margin-right: 40px;

    }

    .bar-logo {
        position: relative;
        width: 110px;
        height: 110px;
        padding-top: 15px;

        .logo-back {
            width: 117px;
            height: 117px;
            background-color: #6E786D;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }

    .bar-R {
        height: 100%;
        margin-left: 40px;
        display: flex;
        align-items: center;
        gap: 45px;
    }
}

.block {
    opacity: 1;
    z-index: 2;
}


main {
    #banner {
        width: 100%;

        /* Hide the images by default */
        .slideshow-container {
            position: relative;
            margin: auto;
             /* Next & previous buttons */
             .prev,
             .next {
                 cursor: pointer;
                 position: absolute;
                 top: 50%;
                 width: auto;
                 padding: 16px;
                 margin-top: -22px;
                 color: white;
                 font-weight: bold;
                 font-size: 18px;
                 transition: 0.6s ease;
                 border-radius: 0 3px 3px 0;
                 user-select: none;
                 display: none;
             }

             /* Position the "next button" to the right */
             .next {
                 right: 0;
                 border-radius: 3px 0 0 3px;
             }

             /* On hover, add a black background color with a little bit see-through */
             .prev:hover,
             .next:hover {
                 background-color: rgba(0, 0, 0, 0.8);
             }


            .ban1,
            .ban2,
            .ban3,
            .ban4,
            .ban5,
            .ban6 {
                width: 100%;
                background-position: 0 0;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .ban1 {
                background-image: url('/Images/rest-1.jpg');
            }

            .ban2 {
                background-image: url('/Images/cof-pic-5.jpg');
            }

            .ban3 {
                background-image: url('/Images/rest-3.jpg');
            }

            .ban4 {
                background-image: url('/Images/rest-4.jpg');
            }

            .ban5 {
                background-image: url('/Images/rest-5.jpg');
            }

            .ban6 {
                background-image: url('');
            }

            .mySlides {
                position: relative;
                display: none;
                height: 961px;

               
                /* Caption text */
                .text {
                    color: #f2f2f2;
                    font-size: 15px;
                    padding: 8px 12px;
                    position: absolute;
                    bottom: 8px;
                    width: 100%;
                    text-align: center;
                }

                /* Number text (1/3 etc) */
                .numbertext {
                    color: #f2f2f2;
                    font-size: 12px;
                    padding: 8px 12px;
                    position: absolute;
                    top: 0;
                }

            }

            /* Fading animation */
            .fade {
                animation-name: fade;
                animation-duration: 1.5s;
            }


            @keyframes fade {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }

            img {
                height: 961px;
            }
        }

        .dots {
            width: 100px;
            height: 285px;
            position: absolute;
            // background-color: wheat;
            top: 50%;
            transform: translate(0, -50%);
            right: 0px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }

            .dots-move {
                width: 100%;
                position: absolute;
                top: 0px;
                display: flex;
                flex-flow: column;

                /* The dots/bullets/indicators */
                .dot {
                    height: 30px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    position: relative;
                    top: 0px;
                    margin-bottom: 37px;

                    &::before {
                        content: '';
                        width: 2px;
                        height: calc(100% + 20px);
                        background: #fff;
                        position: absolute;
                        top: -49px;
                        left: 50%;
                    }


                    &::after {
                        content: '';
                        cursor: pointer;
                        height: 15px;
                        width: 15px;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        display: inline-block;
                        transition: background-color 0.6s ease;
                        position: absolute;
                        bottom: 12px;
                    }


                    &:hover::after {
                        background-color: yellow;
                        transform: scale(1.1);
                        transition: all 0.5s;

                    }

                    &.active::after {
                        background-color: yellow;
                    }
                }
            }
        }
    }

    #about {
        height: 961px;
        color: #fff;
        background-color: #6E786D;

        .about-logo {
            padding-top: 114px;
            margin-bottom: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            img {
                width: 240px;
                height: 240px;
                border-radius: 50%;
                box-shadow:3px 3px 14px 0px #565454

            }
        }

        .about-text {
            text-align: center;
            font-size: 20px;
            line-height: 35px;
            font-family: 'Zen Maru Gothic', sans-serif;

            .textgp {
                margin-top: 70px;
            }


        }
    }

    #cof {

        height: 961px;
        background-color: #F6DEC3;
        position: relative;
        margin-bottom: 113px;

        .cof-spn {
            font-size: 96px;
            font-family: 'Island Moments', cursive;
            position: absolute;
            left: 280px;
            top: 160px;
        }

        .cof-p {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            writing-mode: vertical-rl;
            font-family: 'Zen Maru Gothic', sans-serif;
            gap: 28px;
            position: absolute;
            top: 392px;
            left: 330px;

            p {
                letter-spacing: 10px;

            }

        }

        .swiper-box{
            width: 57%;
            position: relative;
            transform: translate(177px,136px);
            .swiper {
                width: 100%;
                height: 586px;
                border-radius: 20px;
                // position: absolute;
                // top: 262px;
                // left: 481px;
                .swiper-slide img {
                    width: 100%;
                    display: block;
                    object-fit: cover;
                }
            }
            .swiper-pagination {
                width: 100%;
                // position: absolute;
                display: flex;
                justify-content: space-between;
                bottom: -29px;
                left: 0px;
            }
            .swiper-pagination-bullet {
                width: 351px;
                height: 5px;
                border-radius: 15px;
                background-color: gray;
                margin-right: 20px;
                // position: relative;
            }
    
        }
        // .swiper {
        //     width: 100%;
        //     height: 586px;
        //     border-radius: 20px;
        //     position: absolute;
        //     left: 481px;
        //     top: 262px;

        // }


        // .swiper-slide img {
        //     width: 1102px;
        //     height: 586px;
        //     display: block;
        //     object-fit: cover;




        // }

        // .swiper-pagination {
        //     width: 1200px;
        //     position: absolute;
        //     bottom: 90px;
        //     left: 440px;
        //     display: flex;
        //     justify-content: space-between;
        // }

        // .swiper-pagination-bullet {
        //     width: 351px;
        //     height: 5px;
        //     border-radius: 15px;
        //     background-color: gray;
        //     margin-right: 20px;


        // }


    }

    #cof-pic {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 113.65px;

        .cof-size {
            width: 33.3333%;
            height: 366.35px;
        }

        .cof-pic1 {
            background-image: url('/Images/rest-1.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        .cof-pic2 {
            background-image: url('/Images/latte-love.jpg');
            background-size: cover;
            background-position: 0 center;
            background-repeat: no-repeat;
        }

        .cof-pic3 {
            background-image: url('/Images/rest-3.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        .cof-pic4 {
            background-image: url('/Images/tea.jpg');
            background-size: cover;
            background-position: 0 center;
            background-repeat: no-repeat;
        }

        .cof-pic5 {
            background-image: url('/Images/cof-pic-5.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        .cof-pic6 {
            background-image: url('/Images/latte-green-tea.jpg');
            background-size: cover;
            background-position: 0 0;
            background-repeat: no-repeat;
        }
    }

    #dessert {
        background-color: #F6DEC3;
        padding-top: 168px;
        display: flex;
        margin-bottom: 203px;

        .des-pic {
            width: 960px;
            display: grid;
            grid-template-columns: repeat(auto-fit, (300px));
            flex-wrap: wrap;
            margin-left: 320px;
            gap: 20px;
            margin-right: 43px;
            margin-bottom: 169px;

            img {
                width: 300px;
                height: 300px;
                border-radius: 20px;


            }

            ;
        }

        .des-txt {
            padding-top: 117px;

            .des-spn {
                font-size: 80px;
                font-family: 'Island Moments', cursive;

            }

            p {
                font-size: 20px;
                font-family: 'Zen Maru Gothic', sans-serif;
                line-height: 35px;
                margin-left: 15px;
                margin-bottom: 30px;

            }

            img {
                width: 250px;
                height: 222.16px;
                margin-left: 147px;
            }
        }


    }

    #ig-part {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 158.49px;

        .ig-name {
            font-size: 20px;
            font-family: 'Zen Maru Gothic', sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;

            img {
                width: 31px;
                height: 31px;
                margin-right: 15px;
            }
        }

        .ig-pic {
            width: 1525.5px;
            height: 495.5px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            img {
                width: calc((100% / 6) - 30px);
                height: calc((100% / 2) - 20px);
                border-radius: 20px;
            }
        }
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 99px;

        .adres {
            height: 160px;
            padding-right: 53px;
            border-right: 1px solid #000;
            line-height: 35px;
            font-family: 'Zen Maru Gothic', sans-serif;

            h3 {
                margin-bottom: 20px;
            }
        }

        .aboutus {
            margin-left: 57px;
            height: 160px;
            font-family: 'Zen Maru Gothic', sans-serif;
            line-height: 35px;

            h3 {
                margin-bottom: 20px;
            }

            a {
                text-decoration: none;
                color: #000;
            }

        }
    }
}

footer {
    height: 80px;
    background-color: #6E786D;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 35px;
    font-family: 'Zen Maru Gothic', sans-serif;

    .logoTxt {
        width: 136px;
        height: 35px;
        margin-left: 30px;

        img {
            width: 100%;
        }
    }

    .maker {
        margin-right: 30px;
    }

}

@media (max-width:768px){
    nav{
        a{
            font-size: 15px;
        }
        .bar-L{
           margin-right: 22px;
        }
        .bar-logo{
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 89.72px;
            height: 89.72px;
            .logo-back{
                width: 100%;    
                height: 100%;
                img{
                    width: 84.44px;
                    height: 84.44px;
                }   
            }
        }
        .bar-R{
            margin-left: 22px;
        }
    }
    main{
        #banner{
            .slideshow-container{
                height: 387.25px;
                .mySlides{
                    height: 100%;
                }
              
               
                .prev,.next{
                    display: block;
                    font-size: 35px;
                    font-weight: normal;
                    
                }
            }
            .dots{
                display: none;
            }
        }
        #about{
            height: 637px;
            .about-logo{
                padding-top: 32px;
                margin-bottom: 26px;
                img{
                    width: 131px;
                    height: 131px;
                }
            }
            .about-text{
                font-size: 15px;
                line-height: 28px;
                .text-1{
                    margin-bottom: 28px;
                }
                .text-2{
                    margin-bottom: 28px;
                }
                .text-3{
                    margin-bottom: 28px;
                }
                .textgp{
                    margin: 0;
                }
            }
        }
        #cof{
            .cof-spn{
                top: 6%;
                left: 13%;
                font-size: 70px;
                z-index: 2;
                line-height: 80.5px;
            }
            .cof-p{
                
                top: 26%;
                left: 9%;
                font-size: 15px;
                line-height: 21.72px;
                gap: 5px   ;
            }
            .swiper-box{
                width: 68%;
                height: 268px;
                .swiper{
                    width: 100%;
                    top: 0;
                    left: 0;
                    .swiper-wrapper{
                        .swiper-slide{
                            img{
                                border-radius: 20px;
                                width: 100%;
                                height: 268px;
                            }
                        }
                    }
                }
                .swiper-pagination{
                    width: 100%;
                    bottom:-20px;
                    left: 0%;
                }
            }
            // .swiper{
            //     width: 100%;
            //     top: 177px;
            //     left: 136px;
            //     .swiper-wrapper{
            //         .swiper-slide{
            //             img{
            //                 border-radius: 20px;
            //                 width: 67%;
            //                 height: 268px;
            //             }
            //         }
            //     }
            // }
            // .swiper-pagination{
            //     width: 68%;
            //     top: 48%;
            //     left: 19%;
            // }
        }
    }
}
@media (max-width:375px){
    nav{

    }
    
}