*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}
// <<<<<<< HEAD


nav {
    width: 100%;
    height: 55px;
    background-color: #6E786D;
    display: flex;
    justify-content: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    position: fixed;
    // opacity: 0;
    transition: 1s ;
    z-index: 1;
    

    .bar-L {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 45px;
        margin-right: 40px;

    }

    .bar-logo {
        position: relative;
        width: 110px;
        height: 110px;
        padding-top: 15px;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }

    .bar-R {
        height: 100%;
        margin-left: 40px;
        display: flex;
        align-items: center;
        gap: 45px;
    }
}
.block{
    opacity: 1;
    z-index: 2;
}

.buttonbox-pad{
    display: none;
}
.buttonbox{
    padding-top: 225px;
    display: flex;
    justify-content: center;
    .btn{
        width: 110px;
        height: 43px;
        background-color: #6e786d;
        border-radius: 20px;
        margin: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 20px;
            color: #ffffff;
            font-weight: 400;
        }
    }
    .btn:hover{
        background-color: #F6DEC3;
    }
    .active{
        background-color: #F6DEC3;
    }
}
.container-pad{
    display: none;
}
.container{
    display: flex;
    justify-content: center;
    .cardbox{
        width: 70%;    
        padding-top: 0px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .card{
            width: 400px;
            height: 440px;
            margin: 50px 20px;
            .card-img{
                width: 100%;
                height: 356px;
                // border-radius: 20px;
                // background-color: darkgray;
                img{
                    width: 100%;
                    height: 356px;
                    border-radius: 20px;
                }
            }
            .news-class{
                margin: 15px 0;
                display: flex;
                .label{
                    width: 68px;
                    height: 21px;
                    background-color: #6e786d;
                    border-radius: 20px;
                    span{
                        font-size: 12px;
                        color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .line-box{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .line{
                        width: 100%;
                        height: 0.5px;
                        background-color: #6e786d;
                    }
                }
            }
            .ellipsis2{
                font-size: 20px;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2; 
                //行數
                -webkit-box-orient: vertical;
                white-space: normal;
            }
        }
        .display-none{
            display: none;
        }
    }
}
.footerlocat{
    margin-top: 90px;
    width: 100%;
    height: 80px;
    background-color: #6e786d;
    display: none;
}

@media (max-width:768px){
    .buttonbox{
        display: none;
    }
    .buttonbox-pad{
        display: block;
        padding-top: 150px;
        padding-left: 30px;
        display: flex;
        justify-content: center;
        .btn{
            width: 90px;
            height: 34px;
            background-color: #6e786d;
            border-radius: 20px;
            margin: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                font-size: 15px;
                color: #ffffff;
                font-weight: 400;
            }
        }
        .btn:hover{
            background-color: #F6DEC3;
        }
        .active{
            background-color: #F6DEC3;
        }
    }
    .container{
        display: none;
    }
    .container-pad{
        display: block;
        display: flex;
        justify-content: center;
        .cardbox-pad{
            width: 60%;    
            padding-top: 25px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .card{
                width: 500px;
                height: 130px;               
                margin-bottom: 35px;
                display: flex;
                .card-img{
                    // border-radius: 20px;
                    // background-color: darkgray;
                    img{
                        width: 245px;
                        height: 130px;
                        border-radius: 20px;
                    }
                }
                .content{
                    width: 245px;
                    height: 130px;
                    padding-top: 5px;
                    padding-left: 30px;
                    .news-class{
                        display: flex;
                        margin-bottom: 8px;
                        .label{
                            width: 68px;
                            height: 21px;
                            background-color: #6e786d;
                            border-radius: 20px;
                            span{
                                font-size: 12px;
                                color: #ffffff;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                    .ellipsis3{
                        font-size: 15px;
                        line-height: 25px;
                        overflow: hidden;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3; 
                        //行數
                        -webkit-box-orient: vertical;
                        white-space: normal;
                    }
                }
            }
            .display-none{
                display: none;
            }
        }
    }
}