*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}
// <<<<<<< HEAD

.whiteback{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0.5;
    position: fixed;
    z-index: 1;
    display: none;
}

#bar{
    display: flex;    
    
    i{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
        background-color:#6E786D;
        cursor: pointer;
        position: fixed;
        top: 11px;
        left: 12px;
        z-index: 14;
        display: none;
        transition: 1s ease;
    }
    .bar-menu{
        width: 260px;
        height: 350px;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Zen Maru Gothic', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        color: #F6DEC3;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:#6E786D;
        border-radius: 10px;
        z-index: 1;
        display: none;
        
        a{
            text-decoration: none;
            color:#F6DEC3;
        }
    }
}
.active{
    display: flex !important;
    transition: 1s ease;    
}
.ovhd{
    overflow: hidden;
    z-index:99 ;
}

nav {
    width: 100%;
    height: 55px;
    background-color: #6E786D;
    display: flex;
    justify-content: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    position: fixed;
    opacity: 1;
    transition: 1s;
    z-index: 6;
    box-shadow:0px 0.5px 3px 0px #565454;
    

    .bar-L {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 30px;
        margin-right: 40px;

    }

    .bar-logo {
        position: relative;
        width: 110px;
        height: 110px;
        padding-top: 15px;
        
        //修改陰影
        .logo-back {
            width: 125px;
            height: 125px;
            background-color: #6E786D;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow:0px 1.5px 2px 0px #565454;
            a{
                width: 110px;
                height: 110px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                }
            }

        }

    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        height: 35px;
        border-radius: 20px;
        text-align: center;
        padding: 0 10px;
    }

    .bar-R {
        height: 100%;
        margin-left: 40px;
        display: flex;
        align-items: center;
        gap: 30px;
        // line-height: 30px;
    }
}
nav .bar-hover:hover{
    color: #424242;
    height: 35px;
    border-radius: 20px;
    background-color: #F6DEC3;
    text-align: center;
    line-height: 32px;
    padding: 0 10px;
  }

nav:hover{
    opacity: 1;
}
.block {
    opacity: 1;
    z-index: 8;
}

.buttonbox-pad{
    display: none;
}
.buttonbox{
    padding-top: 225px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    .btn{
        width: 110px;
        height: 43px;
        background-color: #6e786d;
        border-radius: 20px;
        margin: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 20px;
            color: #ffffff;
            font-weight: 400;
        }
    }
    .btn:hover{
        background-color: #F6DEC3;
    }
    .active{
        background-color: #F6DEC3;
    }
}
.container-pad{
    display: none;
}
.container{
    display: flex;
    justify-content: center;
    .cardbox{
        width: 70%;    
        padding-top: 0px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .card{
            width: 400px;
            height: 440px;
            margin: 50px 20px;
            .card-img{
                width: 100%;
                height: 356px;
                // border-radius: 20px;
                // background-color: darkgray;
                img{
                    width: 100%;
                    height: 356px;
                    border-radius: 20px;
                }
            }
            .news-class{
                margin: 15px 0;
                display: flex;
                .label{
                    width: 68px;
                    height: 21px;
                    background-color: #6e786d;
                    border-radius: 20px;
                    span{
                        font-size: 12px;
                        color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .line-box{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .line{
                        width: 100%;
                        height: 0.5px;
                        background-color: #6e786d;
                    }
                }
            }
            .ellipsis2{
                font-size: 20px;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2; 
                //行數
                -webkit-box-orient: vertical;
                white-space: normal;
            }
        }
        .display-none{
            display: none;
        }
    }
}
.footerlocat{
    margin-top: 90px;
    width: 100%;
    height: 80px;
    background-color: #6e786d;
    display: none;
}

footer {
    min-width: 100%;
    height: 80px;
    background-color: #6E786D;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 35px;
    font-family: 'Zen Maru Gothic', sans-serif;

    .logoTxt {
        width: 136px;
        height: 35px;
        margin-left: 30px;

        img {
            width: 100%;
        }
    }

    .maker {
        margin-right: 30px;
    }

}

// nav+foo
@media (max-width:1200px){
    nav{
        
        a{
            font-size: 18px;
        }
        .bar-L{
            margin-right: 10px;
            gap:10px;
            line-height: 35px;
        }
        .bar-logo{
            .logo-back{
                width: 110px;
                height: 110px;
                a{
                    img{
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }
        .bar-R{
            margin-left: 10px;
            gap:10px;
            line-height: 35px;
        }
        .bar-hover:hover{
            line-height: 35px;
        }
    }
}
// navfoo
@media (max-width:768px){
    nav{
        a{
            font-size: 15px;
            padding: 0 8px;
        }
        .bar-L{
           margin-right: 10px;
           gap: 10px;
           line-height: 38px;
        }
        .bar-logo{
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            width: 89.72px;
            height: 89.72px;
            .logo-back{
                width: 90px;    
                height: 90px;
                img{
                    width: 84.44px;
                    height: 84.44px;
                }   
            }
        }
        .bar-R{
            margin-left: 10px;
            gap: 10px;
            line-height: 38px;
        }
        .bar-hover:hover{
            height: 30px;
            padding: 0 8px;
            line-height: 30px;
        }
        
    }
    .none{
        display: none;
    }  
    .none-768{
        display: none !important;
    }
}
@media (max-width:768px){
    .buttonbox{
        display: none;
    }
    .buttonbox-pad{
        display: block;
        padding-top: 150px;
        padding-left: 30px;
        display: flex;
        justify-content: center;
        .btn{
            width: 90px;
            height: 34px;
            background-color: #6e786d;
            border-radius: 20px;
            margin: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                font-size: 15px;
                color: #ffffff;
                font-weight: 400;
            }
        }
        .btn:hover{
            background-color: #F6DEC3;
        }
        .active{
            background-color: #F6DEC3;
        }
    }
    .container{
        display: none;
    }
    .container-pad{
        display: block;
        display: flex;
        justify-content: center;
        .cardbox-pad{
            width: 60%;    
            padding-top: 25px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .card{
                width: 500px;
                height: 130px;               
                margin-bottom: 35px;
                display: flex;
                .card-img{
                    // border-radius: 20px;
                    // background-color: darkgray;
                    img{
                        width: 245px;
                        height: 130px;
                        border-radius: 20px;
                    }
                }
                .content{
                    width: 245px;
                    height: 130px;
                    padding-top: 5px;
                    padding-left: 30px;
                    .news-class{
                        display: flex;
                        margin-bottom: 8px;
                        .label{
                            width: 68px;
                            height: 21px;
                            background-color: #6e786d;
                            border-radius: 20px;
                            span{
                                font-size: 12px;
                                color: #ffffff;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                    .ellipsis3{
                        font-size: 15px;
                        line-height: 25px;
                        overflow: hidden;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3; 
                        //行數
                        -webkit-box-orient: vertical;
                        white-space: normal;
                    }
                }
            }
            .display-none{
                display: none;
            }
        }
    }
}
// navfoo
@media (max-width:640px) {
    #bar{
        i{
            display: flex;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            font-size: 35px;
           
            &:active{
                
                transform: translate(1px, 1px);
                transition: 0.1s ease;
            }
        }
    }
    .backTop{
        display: none;
        bottom: 100px;
        right: 10px;
    }
    nav{
        display: none;
    }
    footer{
        flex-direction: column;
        height: 100px;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 16px;
        line-height: 20px;
        .logoTxt{
            width: 97px;
            height: 24px;
            font-size: 12px;
            margin: 0;
        }
        .maker{
            span{
                padding-bottom: 16px;
            }
        }
    }
}

@media (max-width:640px){
    .container-pad{
        .cardbox-pad{
            width: 95%;    
            justify-content: center;
            .card{
                width: 320px;
                .card-img{
                    img{
                        width: 145px;
                    }
                }
            }
            .display-none{
                display: none;
            }
        }
    }
}

// navfoo
@media (max-width:430px){
    #bar{
        i{
            width: 40px;
            height: 40px;
            font-size: 25px;
        }
    }
    .none-375{
        display: none !important;
    }
}

@media (max-width:375px){
    .buttonbox-pad{
        padding-top: 150px;
        padding-left: 15px;
        .btn{
            width: 64px;
            height: 23px;
            margin: 10px 5px;
            span{
                font-size: 12px;
                line-height: 17px;
            }
        }
        .btn:hover{
            background-color: #F6DEC3;
        }
        .active{
            background-color: #F6DEC3;
        }
    }
    .container{
        display: none;
    }

    .container-pad{
        display: block;
        display: flex;
        justify-content: center;
        .cardbox-pad{
            width: 68%;    
            padding-top: 15px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .card{
                width: 500px;
                height: 130px;               
                margin-bottom: 65px;
                display: flex;
                flex-direction: column;
                .card-img{
                    // border-radius: 20px;
                    // background-color: darkgray;
                    img{
                        width: 255px;
                        height: 120px;
                        border-radius: 20px;
                    }
                }
                .content{
                    width: 255px;
                    height: 130px;
                    padding-left: 8px;
                    display: flex;
                    .news-class{
                        display: flex;
                        margin-bottom: 8px;
                        padding-top: 5px;
                        .label{
                            width: 3px;
                            height: 32px;
                            border-radius: 20px;
                            span{
                                display: none;
                            }
                        }
                    }
                    .ellipsis3{
                        font-size: 12px;
                        line-height: 20px;
                        padding-left: 10px;
                        overflow: hidden;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2; 
                        //行數
                        -webkit-box-orient: vertical;
                        white-space: normal;
                    }
                }
            }
            .display-none{
                display: none;
            }
        }
    }
}